body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1920px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u976_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:3311px;
}
#u976 {
  position:absolute;
  left:360px;
  top:176px;
  width:1200px;
  height:3310px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u977 {
  position:absolute;
  left:2px;
  top:1647px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u978_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:101px;
}
#u978 {
  position:absolute;
  left:360px;
  top:176px;
  width:1200px;
  height:100px;
  font-size:20px;
  text-align:left;
}
#u979 {
  position:absolute;
  left:40px;
  top:38px;
  width:1158px;
  word-wrap:break-word;
}
#u980_img {
  position:absolute;
  left:-5px;
  top:-3px;
  width:1931px;
  height:67px;
}
#u980 {
  position:absolute;
  left:0px;
  top:81px;
  width:1920px;
  height:56px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u981 {
  position:absolute;
  left:2px;
  top:20px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u982 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u983_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:57px;
}
#u983 {
  position:absolute;
  left:898px;
  top:81px;
  width:124px;
  height:56px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:14px;
}
#u983_img.mouseOver {
}
#u983.mouseOver {
}
#u983_img.selected {
}
#u983.selected {
}
#u984 {
  position:absolute;
  left:2px;
  top:18px;
  width:120px;
  word-wrap:break-word;
}
#u985_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:56px;
}
#u985 {
  position:absolute;
  left:932px;
  top:81px;
  width:56px;
  height:55px;
}
#u985_img.mouseOver {
  left:-1px;
  top:-1px;
  width:59px;
  height:58px;
}
#u985.mouseOver {
}
#u985_img.selected {
  left:-1px;
  top:-1px;
  width:59px;
  height:58px;
}
#u985.selected {
}
#u986 {
  position:absolute;
  left:2px;
  top:20px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u987 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u988_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:57px;
}
#u988 {
  position:absolute;
  left:1022px;
  top:81px;
  width:124px;
  height:56px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:14px;
}
#u988_img.mouseOver {
}
#u988.mouseOver {
}
#u988_img.selected {
}
#u988.selected {
}
#u989 {
  position:absolute;
  left:2px;
  top:18px;
  width:120px;
  word-wrap:break-word;
}
#u990_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:56px;
}
#u990 {
  position:absolute;
  left:1056px;
  top:81px;
  width:56px;
  height:55px;
}
#u990_img.mouseOver {
  left:-1px;
  top:-1px;
  width:59px;
  height:58px;
}
#u990.mouseOver {
}
#u990_img.selected {
  left:-1px;
  top:-1px;
  width:59px;
  height:58px;
}
#u990.selected {
}
#u991 {
  position:absolute;
  left:2px;
  top:20px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u992 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u993_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:57px;
}
#u993 {
  position:absolute;
  left:774px;
  top:81px;
  width:124px;
  height:56px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:14px;
}
#u993_img.mouseOver {
}
#u993.mouseOver {
}
#u993_img.selected {
}
#u993.selected {
}
#u994 {
  position:absolute;
  left:2px;
  top:18px;
  width:120px;
  word-wrap:break-word;
}
#u995_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:56px;
}
#u995 {
  position:absolute;
  left:808px;
  top:81px;
  width:56px;
  height:55px;
}
#u995_img.mouseOver {
  left:-1px;
  top:-1px;
  width:59px;
  height:58px;
}
#u995.mouseOver {
}
#u995_img.selected {
  left:-1px;
  top:-1px;
  width:59px;
  height:58px;
}
#u995.selected {
}
#u996 {
  position:absolute;
  left:2px;
  top:20px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u998 {
  position:absolute;
  left:0px;
  top:0px;
}
#u998_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u998_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u999_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1921px;
  height:81px;
}
#u999 {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:80px;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u1000 {
  position:absolute;
  left:60px;
  top:28px;
  width:1858px;
  word-wrap:break-word;
}
#u1001 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1002_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:81px;
}
#u1002 {
  position:absolute;
  left:546px;
  top:0px;
  width:138px;
  height:80px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1002_img.mouseOver {
}
#u1002.mouseOver {
}
#u1002_img.selected {
}
#u1002.selected {
}
#u1003 {
  position:absolute;
  left:2px;
  top:30px;
  width:134px;
  word-wrap:break-word;
}
#u1004_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:81px;
}
#u1004 {
  position:absolute;
  left:684px;
  top:0px;
  width:138px;
  height:80px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1004_img.mouseOver {
}
#u1004.mouseOver {
}
#u1004_img.selected {
}
#u1004.selected {
}
#u1005 {
  position:absolute;
  left:2px;
  top:30px;
  width:134px;
  word-wrap:break-word;
}
#u1006_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:81px;
}
#u1006 {
  position:absolute;
  left:822px;
  top:0px;
  width:138px;
  height:80px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1006_img.mouseOver {
}
#u1006.mouseOver {
}
#u1006_img.selected {
}
#u1006.selected {
}
#u1007 {
  position:absolute;
  left:2px;
  top:30px;
  width:134px;
  word-wrap:break-word;
}
#u1008_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:81px;
}
#u1008 {
  position:absolute;
  left:960px;
  top:0px;
  width:138px;
  height:80px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1008_img.mouseOver {
}
#u1008.mouseOver {
}
#u1008_img.selected {
}
#u1008.selected {
}
#u1009 {
  position:absolute;
  left:2px;
  top:30px;
  width:134px;
  word-wrap:break-word;
}
#u1010 {
  position:absolute;
  left:44px;
  top:13px;
  width:190px;
  height:54px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1011 {
  position:absolute;
  left:0px;
  top:80px;
  visibility:hidden;
}
#u1011_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u1011_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1012_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:175px;
  height:167px;
}
#u1012 {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:146px;
  color:#F2F2F2;
  text-align:left;
}
#u1012_img.selected {
}
#u1012.selected {
}
#u1013 {
  position:absolute;
  left:50px;
  top:65px;
  width:102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1014_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:45px;
}
#u1014 {
  position:absolute;
  left:0px;
  top:7px;
  width:154px;
  height:44px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#444444;
  text-align:left;
}
#u1014_img.mouseOver {
}
#u1014.mouseOver {
}
#u1015 {
  position:absolute;
  left:20px;
  top:12px;
  width:132px;
  word-wrap:break-word;
}
#u1016_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:45px;
}
#u1016 {
  position:absolute;
  left:0px;
  top:51px;
  width:154px;
  height:44px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#444444;
  text-align:left;
}
#u1016_img.mouseOver {
}
#u1016.mouseOver {
}
#u1017 {
  position:absolute;
  left:20px;
  top:12px;
  width:132px;
  word-wrap:break-word;
}
#u1018_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:45px;
}
#u1018 {
  position:absolute;
  left:0px;
  top:95px;
  width:154px;
  height:44px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#444444;
  text-align:left;
}
#u1018_img.mouseOver {
}
#u1018.mouseOver {
}
#u1019 {
  position:absolute;
  left:20px;
  top:12px;
  width:132px;
  word-wrap:break-word;
}
#u1011_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u1011_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1020_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:175px;
  height:255px;
}
#u1020 {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:234px;
  color:#F2F2F2;
  text-align:left;
}
#u1020_img.selected {
}
#u1020.selected {
}
#u1021 {
  position:absolute;
  left:50px;
  top:109px;
  width:102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1022_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:45px;
}
#u1022 {
  position:absolute;
  left:0px;
  top:51px;
  width:154px;
  height:44px;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u1022_img.mouseOver {
}
#u1022.mouseOver {
}
#u1023 {
  position:absolute;
  left:20px;
  top:12px;
  width:132px;
  word-wrap:break-word;
}
#u1024_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:45px;
}
#u1024 {
  position:absolute;
  left:0px;
  top:95px;
  width:154px;
  height:44px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#444444;
  text-align:left;
}
#u1024_img.mouseOver {
}
#u1024.mouseOver {
}
#u1025 {
  position:absolute;
  left:20px;
  top:12px;
  width:132px;
  word-wrap:break-word;
}
#u1026_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:45px;
}
#u1026 {
  position:absolute;
  left:0px;
  top:139px;
  width:154px;
  height:44px;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#444444;
  text-align:left;
}
#u1026_img.mouseOver {
}
#u1026.mouseOver {
}
#u1027 {
  position:absolute;
  left:20px;
  top:12px;
  width:132px;
  word-wrap:break-word;
}
#u1028_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:45px;
}
#u1028 {
  position:absolute;
  left:0px;
  top:7px;
  width:154px;
  height:44px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#444444;
  text-align:left;
}
#u1028_img.mouseOver {
}
#u1028.mouseOver {
}
#u1029 {
  position:absolute;
  left:20px;
  top:12px;
  width:132px;
  word-wrap:break-word;
}
#u1030_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:45px;
}
#u1030 {
  position:absolute;
  left:0px;
  top:183px;
  width:154px;
  height:44px;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#444444;
  text-align:left;
}
#u1030_img.mouseOver {
}
#u1030.mouseOver {
}
#u1031 {
  position:absolute;
  left:20px;
  top:12px;
  width:132px;
  word-wrap:break-word;
}
#u1011_state2 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u1011_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1032_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:175px;
  height:211px;
}
#u1032 {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:190px;
  color:#F2F2F2;
  text-align:left;
}
#u1032_img.selected {
}
#u1032.selected {
}
#u1033 {
  position:absolute;
  left:50px;
  top:87px;
  width:102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1034_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:45px;
}
#u1034 {
  position:absolute;
  left:0px;
  top:7px;
  width:154px;
  height:44px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#444444;
  text-align:left;
}
#u1034_img.mouseOver {
}
#u1034.mouseOver {
}
#u1035 {
  position:absolute;
  left:20px;
  top:12px;
  width:132px;
  word-wrap:break-word;
}
#u1036_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:45px;
}
#u1036 {
  position:absolute;
  left:0px;
  top:51px;
  width:154px;
  height:44px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#444444;
  text-align:left;
}
#u1036_img.mouseOver {
}
#u1036.mouseOver {
}
#u1037 {
  position:absolute;
  left:20px;
  top:12px;
  width:132px;
  word-wrap:break-word;
}
#u1038_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:45px;
}
#u1038 {
  position:absolute;
  left:0px;
  top:95px;
  width:154px;
  height:44px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#444444;
  text-align:left;
}
#u1038_img.mouseOver {
}
#u1038.mouseOver {
}
#u1039 {
  position:absolute;
  left:20px;
  top:12px;
  width:132px;
  word-wrap:break-word;
}
#u1040_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:45px;
}
#u1040 {
  position:absolute;
  left:0px;
  top:139px;
  width:154px;
  height:44px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#444444;
  text-align:left;
}
#u1040_img.mouseOver {
}
#u1040.mouseOver {
}
#u1041 {
  position:absolute;
  left:20px;
  top:12px;
  width:132px;
  word-wrap:break-word;
}
#u1011_state3 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u1011_state3_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1042_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:175px;
  height:167px;
}
#u1042 {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:146px;
  color:#F2F2F2;
  text-align:left;
}
#u1042_img.selected {
}
#u1042.selected {
}
#u1043 {
  position:absolute;
  left:50px;
  top:65px;
  width:102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1044_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:45px;
}
#u1044 {
  position:absolute;
  left:0px;
  top:7px;
  width:154px;
  height:44px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#444444;
  text-align:left;
}
#u1044_img.mouseOver {
}
#u1044.mouseOver {
}
#u1045 {
  position:absolute;
  left:20px;
  top:12px;
  width:132px;
  word-wrap:break-word;
}
#u1046_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:45px;
}
#u1046 {
  position:absolute;
  left:0px;
  top:51px;
  width:154px;
  height:44px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#444444;
  text-align:left;
}
#u1046_img.mouseOver {
}
#u1046.mouseOver {
}
#u1047 {
  position:absolute;
  left:20px;
  top:12px;
  width:132px;
  word-wrap:break-word;
}
#u1048_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:45px;
}
#u1048 {
  position:absolute;
  left:0px;
  top:95px;
  width:154px;
  height:44px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#444444;
  text-align:left;
}
#u1048_img.mouseOver {
}
#u1048.mouseOver {
}
#u1049 {
  position:absolute;
  left:20px;
  top:12px;
  width:132px;
  word-wrap:break-word;
}
#u1011_state4 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u1011_state4_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1050_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:175px;
  height:211px;
}
#u1050 {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:190px;
  color:#F2F2F2;
  text-align:left;
}
#u1050_img.selected {
}
#u1050.selected {
}
#u1051 {
  position:absolute;
  left:50px;
  top:87px;
  width:102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1052_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:45px;
}
#u1052 {
  position:absolute;
  left:0px;
  top:7px;
  width:154px;
  height:44px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#444444;
  text-align:left;
}
#u1052_img.mouseOver {
}
#u1052.mouseOver {
}
#u1053 {
  position:absolute;
  left:20px;
  top:12px;
  width:132px;
  word-wrap:break-word;
}
#u1054_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:45px;
}
#u1054 {
  position:absolute;
  left:0px;
  top:51px;
  width:154px;
  height:44px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#444444;
  text-align:left;
}
#u1054_img.mouseOver {
}
#u1054.mouseOver {
}
#u1055 {
  position:absolute;
  left:20px;
  top:12px;
  width:132px;
  word-wrap:break-word;
}
#u1056_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:45px;
}
#u1056 {
  position:absolute;
  left:0px;
  top:95px;
  width:154px;
  height:44px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#444444;
  text-align:left;
}
#u1056_img.mouseOver {
}
#u1056.mouseOver {
}
#u1057 {
  position:absolute;
  left:20px;
  top:12px;
  width:132px;
  word-wrap:break-word;
}
#u1058_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:45px;
}
#u1058 {
  position:absolute;
  left:0px;
  top:139px;
  width:154px;
  height:44px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#444444;
  text-align:left;
}
#u1058_img.mouseOver {
}
#u1058.mouseOver {
}
#u1059 {
  position:absolute;
  left:20px;
  top:12px;
  width:132px;
  word-wrap:break-word;
}
#u1011_state5 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u1011_state5_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1060_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:175px;
  height:167px;
}
#u1060 {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:146px;
  color:#F2F2F2;
  text-align:left;
}
#u1060_img.selected {
}
#u1060.selected {
}
#u1061 {
  position:absolute;
  left:50px;
  top:65px;
  width:102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1062_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:45px;
}
#u1062 {
  position:absolute;
  left:0px;
  top:7px;
  width:154px;
  height:44px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#444444;
  text-align:left;
}
#u1062_img.mouseOver {
}
#u1062.mouseOver {
}
#u1063 {
  position:absolute;
  left:20px;
  top:12px;
  width:132px;
  word-wrap:break-word;
}
#u1064_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:45px;
}
#u1064 {
  position:absolute;
  left:0px;
  top:51px;
  width:154px;
  height:44px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#444444;
  text-align:left;
}
#u1064_img.mouseOver {
}
#u1064.mouseOver {
}
#u1065 {
  position:absolute;
  left:20px;
  top:12px;
  width:132px;
  word-wrap:break-word;
}
#u1066_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:45px;
}
#u1066 {
  position:absolute;
  left:0px;
  top:95px;
  width:154px;
  height:44px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#444444;
  text-align:left;
}
#u1066_img.mouseOver {
}
#u1066.mouseOver {
}
#u1067 {
  position:absolute;
  left:20px;
  top:12px;
  width:132px;
  word-wrap:break-word;
}
#u1068_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:25px;
}
#u1068 {
  position:absolute;
  left:360px;
  top:304px;
  width:1200px;
  height:24px;
  line-height:24px;
}
#u1069 {
  position:absolute;
  left:40px;
  top:0px;
  width:1160px;
  word-wrap:break-word;
}
