body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1920px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u956_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:3311px;
}
#u956 {
  position:absolute;
  left:360px;
  top:176px;
  width:1200px;
  height:3310px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u957 {
  position:absolute;
  left:2px;
  top:1647px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u958_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:101px;
}
#u958 {
  position:absolute;
  left:360px;
  top:176px;
  width:1200px;
  height:100px;
  font-size:20px;
  text-align:left;
}
#u959 {
  position:absolute;
  left:40px;
  top:38px;
  width:1158px;
  word-wrap:break-word;
}
#u960_img {
  position:absolute;
  left:-5px;
  top:-3px;
  width:1931px;
  height:67px;
}
#u960 {
  position:absolute;
  left:0px;
  top:81px;
  width:1920px;
  height:56px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u961 {
  position:absolute;
  left:2px;
  top:20px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u962 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u963_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:57px;
}
#u963 {
  position:absolute;
  left:898px;
  top:81px;
  width:124px;
  height:56px;
  font-family:'微软雅黑';
  font-weight:405;
  font-style:normal;
  font-size:14px;
}
#u963_img.mouseOver {
}
#u963.mouseOver {
}
#u963_img.selected {
}
#u963.selected {
}
#u964 {
  position:absolute;
  left:2px;
  top:18px;
  width:120px;
  word-wrap:break-word;
}
#u965_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:56px;
}
#u965 {
  position:absolute;
  left:932px;
  top:81px;
  width:56px;
  height:55px;
}
#u965_img.mouseOver {
  left:-1px;
  top:-1px;
  width:59px;
  height:58px;
}
#u965.mouseOver {
}
#u965_img.selected {
  left:-1px;
  top:-1px;
  width:59px;
  height:58px;
}
#u965.selected {
}
#u966 {
  position:absolute;
  left:2px;
  top:20px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u967 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u968_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:57px;
}
#u968 {
  position:absolute;
  left:1022px;
  top:81px;
  width:124px;
  height:56px;
  font-family:'微软雅黑';
  font-weight:405;
  font-style:normal;
  font-size:14px;
}
#u968_img.mouseOver {
}
#u968.mouseOver {
}
#u968_img.selected {
}
#u968.selected {
}
#u969 {
  position:absolute;
  left:2px;
  top:18px;
  width:120px;
  word-wrap:break-word;
}
#u970_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:56px;
}
#u970 {
  position:absolute;
  left:1056px;
  top:81px;
  width:56px;
  height:55px;
}
#u970_img.mouseOver {
  left:-1px;
  top:-1px;
  width:59px;
  height:58px;
}
#u970.mouseOver {
}
#u970_img.selected {
  left:-1px;
  top:-1px;
  width:59px;
  height:58px;
}
#u970.selected {
}
#u971 {
  position:absolute;
  left:2px;
  top:20px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u972 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u973_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:57px;
}
#u973 {
  position:absolute;
  left:774px;
  top:81px;
  width:124px;
  height:56px;
  font-family:'微软雅黑';
  font-weight:405;
  font-style:normal;
  font-size:14px;
}
#u973_img.mouseOver {
}
#u973.mouseOver {
}
#u973_img.selected {
}
#u973.selected {
}
#u974 {
  position:absolute;
  left:2px;
  top:18px;
  width:120px;
  word-wrap:break-word;
}
#u975_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:56px;
}
#u975 {
  position:absolute;
  left:808px;
  top:81px;
  width:56px;
  height:55px;
}
#u975_img.mouseOver {
  left:-1px;
  top:-1px;
  width:59px;
  height:58px;
}
#u975.mouseOver {
}
#u975_img.selected {
  left:-1px;
  top:-1px;
  width:59px;
  height:58px;
}
#u975.selected {
}
#u976 {
  position:absolute;
  left:2px;
  top:20px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u978 {
  position:absolute;
  left:0px;
  top:0px;
}
#u978_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u978_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u979_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1921px;
  height:81px;
}
#u979 {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:80px;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u980 {
  position:absolute;
  left:60px;
  top:28px;
  width:1858px;
  word-wrap:break-word;
}
#u981 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u982_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:81px;
}
#u982 {
  position:absolute;
  left:546px;
  top:0px;
  width:138px;
  height:80px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u982_img.mouseOver {
}
#u982.mouseOver {
}
#u982_img.selected {
}
#u982.selected {
}
#u983 {
  position:absolute;
  left:2px;
  top:30px;
  width:134px;
  word-wrap:break-word;
}
#u984_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:81px;
}
#u984 {
  position:absolute;
  left:684px;
  top:0px;
  width:138px;
  height:80px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u984_img.mouseOver {
}
#u984.mouseOver {
}
#u984_img.selected {
}
#u984.selected {
}
#u985 {
  position:absolute;
  left:2px;
  top:30px;
  width:134px;
  word-wrap:break-word;
}
#u986_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:81px;
}
#u986 {
  position:absolute;
  left:822px;
  top:0px;
  width:138px;
  height:80px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u986_img.mouseOver {
}
#u986.mouseOver {
}
#u986_img.selected {
}
#u986.selected {
}
#u987 {
  position:absolute;
  left:2px;
  top:30px;
  width:134px;
  word-wrap:break-word;
}
#u988_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:81px;
}
#u988 {
  position:absolute;
  left:960px;
  top:0px;
  width:138px;
  height:80px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u988_img.mouseOver {
}
#u988.mouseOver {
}
#u988_img.selected {
}
#u988.selected {
}
#u989 {
  position:absolute;
  left:2px;
  top:30px;
  width:134px;
  word-wrap:break-word;
}
#u990 {
  position:absolute;
  left:44px;
  top:13px;
  width:190px;
  height:54px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u991 {
  position:absolute;
  left:0px;
  top:80px;
  visibility:hidden;
}
#u991_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u991_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u992_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:175px;
  height:167px;
}
#u992 {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:146px;
  color:#F2F2F2;
  text-align:left;
}
#u992_img.selected {
}
#u992.selected {
}
#u993 {
  position:absolute;
  left:50px;
  top:65px;
  width:102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u994_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:45px;
}
#u994 {
  position:absolute;
  left:0px;
  top:7px;
  width:154px;
  height:44px;
  font-family:'微软雅黑';
  font-weight:405;
  font-style:normal;
  color:#444444;
  text-align:left;
}
#u994_img.mouseOver {
}
#u994.mouseOver {
}
#u995 {
  position:absolute;
  left:20px;
  top:12px;
  width:132px;
  word-wrap:break-word;
}
#u996_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:45px;
}
#u996 {
  position:absolute;
  left:0px;
  top:51px;
  width:154px;
  height:44px;
  font-family:'微软雅黑';
  font-weight:405;
  font-style:normal;
  color:#444444;
  text-align:left;
}
#u996_img.mouseOver {
}
#u996.mouseOver {
}
#u997 {
  position:absolute;
  left:20px;
  top:12px;
  width:132px;
  word-wrap:break-word;
}
#u998_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:45px;
}
#u998 {
  position:absolute;
  left:0px;
  top:95px;
  width:154px;
  height:44px;
  font-family:'微软雅黑';
  font-weight:405;
  font-style:normal;
  color:#444444;
  text-align:left;
}
#u998_img.mouseOver {
}
#u998.mouseOver {
}
#u999 {
  position:absolute;
  left:20px;
  top:12px;
  width:132px;
  word-wrap:break-word;
}
#u991_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u991_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1000_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:175px;
  height:255px;
}
#u1000 {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:234px;
  color:#F2F2F2;
  text-align:left;
}
#u1000_img.selected {
}
#u1000.selected {
}
#u1001 {
  position:absolute;
  left:50px;
  top:109px;
  width:102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1002_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:45px;
}
#u1002 {
  position:absolute;
  left:0px;
  top:51px;
  width:154px;
  height:44px;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u1002_img.mouseOver {
}
#u1002.mouseOver {
}
#u1003 {
  position:absolute;
  left:20px;
  top:12px;
  width:132px;
  word-wrap:break-word;
}
#u1004_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:45px;
}
#u1004 {
  position:absolute;
  left:0px;
  top:95px;
  width:154px;
  height:44px;
  font-family:'微软雅黑';
  font-weight:405;
  font-style:normal;
  color:#444444;
  text-align:left;
}
#u1004_img.mouseOver {
}
#u1004.mouseOver {
}
#u1005 {
  position:absolute;
  left:20px;
  top:12px;
  width:132px;
  word-wrap:break-word;
}
#u1006_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:45px;
}
#u1006 {
  position:absolute;
  left:0px;
  top:139px;
  width:154px;
  height:44px;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#444444;
  text-align:left;
}
#u1006_img.mouseOver {
}
#u1006.mouseOver {
}
#u1007 {
  position:absolute;
  left:20px;
  top:12px;
  width:132px;
  word-wrap:break-word;
}
#u1008_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:45px;
}
#u1008 {
  position:absolute;
  left:0px;
  top:7px;
  width:154px;
  height:44px;
  font-family:'微软雅黑';
  font-weight:405;
  font-style:normal;
  color:#444444;
  text-align:left;
}
#u1008_img.mouseOver {
}
#u1008.mouseOver {
}
#u1009 {
  position:absolute;
  left:20px;
  top:12px;
  width:132px;
  word-wrap:break-word;
}
#u1010_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:45px;
}
#u1010 {
  position:absolute;
  left:0px;
  top:183px;
  width:154px;
  height:44px;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#444444;
  text-align:left;
}
#u1010_img.mouseOver {
}
#u1010.mouseOver {
}
#u1011 {
  position:absolute;
  left:20px;
  top:12px;
  width:132px;
  word-wrap:break-word;
}
#u991_state2 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u991_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1012_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:175px;
  height:211px;
}
#u1012 {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:190px;
  color:#F2F2F2;
  text-align:left;
}
#u1012_img.selected {
}
#u1012.selected {
}
#u1013 {
  position:absolute;
  left:50px;
  top:87px;
  width:102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1014_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:45px;
}
#u1014 {
  position:absolute;
  left:0px;
  top:7px;
  width:154px;
  height:44px;
  font-family:'微软雅黑';
  font-weight:405;
  font-style:normal;
  color:#444444;
  text-align:left;
}
#u1014_img.mouseOver {
}
#u1014.mouseOver {
}
#u1015 {
  position:absolute;
  left:20px;
  top:12px;
  width:132px;
  word-wrap:break-word;
}
#u1016_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:45px;
}
#u1016 {
  position:absolute;
  left:0px;
  top:51px;
  width:154px;
  height:44px;
  font-family:'微软雅黑';
  font-weight:405;
  font-style:normal;
  color:#444444;
  text-align:left;
}
#u1016_img.mouseOver {
}
#u1016.mouseOver {
}
#u1017 {
  position:absolute;
  left:20px;
  top:12px;
  width:132px;
  word-wrap:break-word;
}
#u1018_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:45px;
}
#u1018 {
  position:absolute;
  left:0px;
  top:95px;
  width:154px;
  height:44px;
  font-family:'微软雅黑';
  font-weight:405;
  font-style:normal;
  color:#444444;
  text-align:left;
}
#u1018_img.mouseOver {
}
#u1018.mouseOver {
}
#u1019 {
  position:absolute;
  left:20px;
  top:12px;
  width:132px;
  word-wrap:break-word;
}
#u1020_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:45px;
}
#u1020 {
  position:absolute;
  left:0px;
  top:139px;
  width:154px;
  height:44px;
  font-family:'微软雅黑';
  font-weight:405;
  font-style:normal;
  color:#444444;
  text-align:left;
}
#u1020_img.mouseOver {
}
#u1020.mouseOver {
}
#u1021 {
  position:absolute;
  left:20px;
  top:12px;
  width:132px;
  word-wrap:break-word;
}
#u991_state3 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u991_state3_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1022_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:175px;
  height:167px;
}
#u1022 {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:146px;
  color:#F2F2F2;
  text-align:left;
}
#u1022_img.selected {
}
#u1022.selected {
}
#u1023 {
  position:absolute;
  left:50px;
  top:65px;
  width:102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1024_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:45px;
}
#u1024 {
  position:absolute;
  left:0px;
  top:7px;
  width:154px;
  height:44px;
  font-family:'微软雅黑';
  font-weight:405;
  font-style:normal;
  color:#444444;
  text-align:left;
}
#u1024_img.mouseOver {
}
#u1024.mouseOver {
}
#u1025 {
  position:absolute;
  left:20px;
  top:12px;
  width:132px;
  word-wrap:break-word;
}
#u1026_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:45px;
}
#u1026 {
  position:absolute;
  left:0px;
  top:51px;
  width:154px;
  height:44px;
  font-family:'微软雅黑';
  font-weight:405;
  font-style:normal;
  color:#444444;
  text-align:left;
}
#u1026_img.mouseOver {
}
#u1026.mouseOver {
}
#u1027 {
  position:absolute;
  left:20px;
  top:12px;
  width:132px;
  word-wrap:break-word;
}
#u1028_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:45px;
}
#u1028 {
  position:absolute;
  left:0px;
  top:95px;
  width:154px;
  height:44px;
  font-family:'微软雅黑';
  font-weight:405;
  font-style:normal;
  color:#444444;
  text-align:left;
}
#u1028_img.mouseOver {
}
#u1028.mouseOver {
}
#u1029 {
  position:absolute;
  left:20px;
  top:12px;
  width:132px;
  word-wrap:break-word;
}
#u991_state4 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u991_state4_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1030_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:175px;
  height:211px;
}
#u1030 {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:190px;
  color:#F2F2F2;
  text-align:left;
}
#u1030_img.selected {
}
#u1030.selected {
}
#u1031 {
  position:absolute;
  left:50px;
  top:87px;
  width:102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1032_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:45px;
}
#u1032 {
  position:absolute;
  left:0px;
  top:7px;
  width:154px;
  height:44px;
  font-family:'微软雅黑';
  font-weight:405;
  font-style:normal;
  color:#444444;
  text-align:left;
}
#u1032_img.mouseOver {
}
#u1032.mouseOver {
}
#u1033 {
  position:absolute;
  left:20px;
  top:12px;
  width:132px;
  word-wrap:break-word;
}
#u1034_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:45px;
}
#u1034 {
  position:absolute;
  left:0px;
  top:51px;
  width:154px;
  height:44px;
  font-family:'微软雅黑';
  font-weight:405;
  font-style:normal;
  color:#444444;
  text-align:left;
}
#u1034_img.mouseOver {
}
#u1034.mouseOver {
}
#u1035 {
  position:absolute;
  left:20px;
  top:12px;
  width:132px;
  word-wrap:break-word;
}
#u1036_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:45px;
}
#u1036 {
  position:absolute;
  left:0px;
  top:95px;
  width:154px;
  height:44px;
  font-family:'微软雅黑';
  font-weight:405;
  font-style:normal;
  color:#444444;
  text-align:left;
}
#u1036_img.mouseOver {
}
#u1036.mouseOver {
}
#u1037 {
  position:absolute;
  left:20px;
  top:12px;
  width:132px;
  word-wrap:break-word;
}
#u1038_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:45px;
}
#u1038 {
  position:absolute;
  left:0px;
  top:139px;
  width:154px;
  height:44px;
  font-family:'微软雅黑';
  font-weight:405;
  font-style:normal;
  color:#444444;
  text-align:left;
}
#u1038_img.mouseOver {
}
#u1038.mouseOver {
}
#u1039 {
  position:absolute;
  left:20px;
  top:12px;
  width:132px;
  word-wrap:break-word;
}
#u991_state5 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u991_state5_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1040_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:175px;
  height:167px;
}
#u1040 {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:146px;
  color:#F2F2F2;
  text-align:left;
}
#u1040_img.selected {
}
#u1040.selected {
}
#u1041 {
  position:absolute;
  left:50px;
  top:65px;
  width:102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1042_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:45px;
}
#u1042 {
  position:absolute;
  left:0px;
  top:7px;
  width:154px;
  height:44px;
  font-family:'微软雅黑';
  font-weight:405;
  font-style:normal;
  color:#444444;
  text-align:left;
}
#u1042_img.mouseOver {
}
#u1042.mouseOver {
}
#u1043 {
  position:absolute;
  left:20px;
  top:12px;
  width:132px;
  word-wrap:break-word;
}
#u1044_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:45px;
}
#u1044 {
  position:absolute;
  left:0px;
  top:51px;
  width:154px;
  height:44px;
  font-family:'微软雅黑';
  font-weight:405;
  font-style:normal;
  color:#444444;
  text-align:left;
}
#u1044_img.mouseOver {
}
#u1044.mouseOver {
}
#u1045 {
  position:absolute;
  left:20px;
  top:12px;
  width:132px;
  word-wrap:break-word;
}
#u1046_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:45px;
}
#u1046 {
  position:absolute;
  left:0px;
  top:95px;
  width:154px;
  height:44px;
  font-family:'微软雅黑';
  font-weight:405;
  font-style:normal;
  color:#444444;
  text-align:left;
}
#u1046_img.mouseOver {
}
#u1046.mouseOver {
}
#u1047 {
  position:absolute;
  left:20px;
  top:12px;
  width:132px;
  word-wrap:break-word;
}
#u1048_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:25px;
}
#u1048 {
  position:absolute;
  left:360px;
  top:304px;
  width:1200px;
  height:24px;
  line-height:24px;
}
#u1049 {
  position:absolute;
  left:40px;
  top:0px;
  width:1160px;
  word-wrap:break-word;
}
