body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:relative;
  left:-115px;
  width:473px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2707_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u2707 {
  position:absolute;
  left:124px;
  top:60px;
  width:100px;
  height:60px;
}
#u2708 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u2709_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:64px;
}
#u2709 {
  position:absolute;
  left:115px;
  top:160px;
  width:118px;
  height:63px;
}
#u2710 {
  position:absolute;
  left:2px;
  top:16px;
  width:114px;
  word-wrap:break-word;
}
#u2711 {
  position:absolute;
  left:174px;
  top:120px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u2711_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:44px;
}
#u2711_seg1 {
  position:absolute;
  left:-10px;
  top:27px;
  width:20px;
  height:20px;
}
#u2712 {
  position:absolute;
  left:-50px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2713_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u2713 {
  position:absolute;
  left:124px;
  top:273px;
  width:100px;
  height:60px;
}
#u2714 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u2715 {
  position:absolute;
  left:174px;
  top:223px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u2715_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:54px;
}
#u2715_seg1 {
  position:absolute;
  left:-10px;
  top:37px;
  width:20px;
  height:20px;
}
#u2716 {
  position:absolute;
  left:-50px;
  top:17px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2717_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:64px;
}
#u2717 {
  position:absolute;
  left:115px;
  top:388px;
  width:118px;
  height:63px;
}
#u2718 {
  position:absolute;
  left:2px;
  top:16px;
  width:114px;
  word-wrap:break-word;
}
#u2719 {
  position:absolute;
  left:174px;
  top:333px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u2719_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:59px;
}
#u2719_seg1 {
  position:absolute;
  left:-10px;
  top:42px;
  width:20px;
  height:20px;
}
#u2720 {
  position:absolute;
  left:-50px;
  top:20px;
  width:100px;
  word-wrap:break-word;
}
#u2721_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:64px;
}
#u2721 {
  position:absolute;
  left:294px;
  top:270px;
  width:118px;
  height:63px;
}
#u2722 {
  position:absolute;
  left:2px;
  top:24px;
  width:114px;
  word-wrap:break-word;
}
#u2723 {
  position:absolute;
  left:224px;
  top:303px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u2723_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:60px;
  height:8px;
}
#u2723_seg1 {
  position:absolute;
  left:52px;
  top:-5px;
  width:8px;
  height:9px;
}
#u2723_seg2 {
  position:absolute;
  left:52px;
  top:-5px;
  width:18px;
  height:8px;
}
#u2723_seg3 {
  position:absolute;
  left:57px;
  top:-11px;
  width:20px;
  height:20px;
}
#u2724 {
  position:absolute;
  left:-14px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u2725_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u2725 {
  position:absolute;
  left:479px;
  top:272px;
  width:100px;
  height:60px;
}
#u2726 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u2727 {
  position:absolute;
  left:412px;
  top:302px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u2727_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:71px;
  height:8px;
}
#u2727_seg1 {
  position:absolute;
  left:54px;
  top:-10px;
  width:20px;
  height:20px;
}
#u2728 {
  position:absolute;
  left:-16px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2729_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:64px;
}
#u2729 {
  position:absolute;
  left:470px;
  top:381px;
  width:118px;
  height:63px;
}
#u2730 {
  position:absolute;
  left:2px;
  top:8px;
  width:114px;
  word-wrap:break-word;
}
#u2731 {
  position:absolute;
  left:529px;
  top:332px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u2731_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:53px;
}
#u2731_seg1 {
  position:absolute;
  left:-10px;
  top:36px;
  width:20px;
  height:20px;
}
#u2732 {
  position:absolute;
  left:-50px;
  top:16px;
  width:100px;
  word-wrap:break-word;
}
#u2733_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:64px;
}
#u2733 {
  position:absolute;
  left:115px;
  top:480px;
  width:118px;
  height:63px;
}
#u2734 {
  position:absolute;
  left:2px;
  top:24px;
  width:114px;
  word-wrap:break-word;
}
#u2735 {
  position:absolute;
  left:174px;
  top:451px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u2735_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:33px;
}
#u2735_seg1 {
  position:absolute;
  left:-10px;
  top:16px;
  width:20px;
  height:20px;
}
#u2736 {
  position:absolute;
  left:-50px;
  top:6px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2737 {
  position:absolute;
  left:529px;
  top:444px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u2737_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:72px;
}
#u2737_seg1 {
  position:absolute;
  left:-307px;
  top:64px;
  width:311px;
  height:8px;
}
#u2737_seg2 {
  position:absolute;
  left:-314px;
  top:58px;
  width:20px;
  height:20px;
}
#u2738 {
  position:absolute;
  left:-170px;
  top:60px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2739 {
  position:absolute;
  left:529px;
  top:272px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u2739_seg0 {
  position:absolute;
  left:-4px;
  top:-84px;
  width:8px;
  height:84px;
}
#u2739_seg1 {
  position:absolute;
  left:-296px;
  top:-84px;
  width:300px;
  height:8px;
}
#u2739_seg2 {
  position:absolute;
  left:-303px;
  top:-90px;
  width:20px;
  height:20px;
}
#u2740 {
  position:absolute;
  left:-158px;
  top:-88px;
  width:100px;
  word-wrap:break-word;
}
