body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:relative;
  left:-115px;
  width:473px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2827_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u2827 {
  position:absolute;
  left:124px;
  top:60px;
  width:100px;
  height:60px;
}
#u2828 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u2829_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:64px;
}
#u2829 {
  position:absolute;
  left:115px;
  top:160px;
  width:118px;
  height:63px;
}
#u2830 {
  position:absolute;
  left:2px;
  top:16px;
  width:114px;
  word-wrap:break-word;
}
#u2831 {
  position:absolute;
  left:174px;
  top:120px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u2831_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:44px;
}
#u2831_seg1 {
  position:absolute;
  left:-10px;
  top:27px;
  width:20px;
  height:20px;
}
#u2832 {
  position:absolute;
  left:-50px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2833_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u2833 {
  position:absolute;
  left:124px;
  top:273px;
  width:100px;
  height:60px;
}
#u2834 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u2835 {
  position:absolute;
  left:174px;
  top:223px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u2835_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:54px;
}
#u2835_seg1 {
  position:absolute;
  left:-10px;
  top:37px;
  width:20px;
  height:20px;
}
#u2836 {
  position:absolute;
  left:-50px;
  top:17px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2837_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:64px;
}
#u2837 {
  position:absolute;
  left:115px;
  top:388px;
  width:118px;
  height:63px;
}
#u2838 {
  position:absolute;
  left:2px;
  top:16px;
  width:114px;
  word-wrap:break-word;
}
#u2839 {
  position:absolute;
  left:174px;
  top:333px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u2839_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:59px;
}
#u2839_seg1 {
  position:absolute;
  left:-10px;
  top:42px;
  width:20px;
  height:20px;
}
#u2840 {
  position:absolute;
  left:-50px;
  top:20px;
  width:100px;
  word-wrap:break-word;
}
#u2841_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:64px;
}
#u2841 {
  position:absolute;
  left:294px;
  top:270px;
  width:118px;
  height:63px;
}
#u2842 {
  position:absolute;
  left:2px;
  top:24px;
  width:114px;
  word-wrap:break-word;
}
#u2843 {
  position:absolute;
  left:224px;
  top:303px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u2843_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:60px;
  height:8px;
}
#u2843_seg1 {
  position:absolute;
  left:52px;
  top:-5px;
  width:8px;
  height:9px;
}
#u2843_seg2 {
  position:absolute;
  left:52px;
  top:-5px;
  width:18px;
  height:8px;
}
#u2843_seg3 {
  position:absolute;
  left:57px;
  top:-11px;
  width:20px;
  height:20px;
}
#u2844 {
  position:absolute;
  left:-14px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u2845_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u2845 {
  position:absolute;
  left:479px;
  top:272px;
  width:100px;
  height:60px;
}
#u2846 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u2847 {
  position:absolute;
  left:412px;
  top:302px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u2847_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:71px;
  height:8px;
}
#u2847_seg1 {
  position:absolute;
  left:54px;
  top:-10px;
  width:20px;
  height:20px;
}
#u2848 {
  position:absolute;
  left:-16px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2849_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:64px;
}
#u2849 {
  position:absolute;
  left:470px;
  top:381px;
  width:118px;
  height:63px;
}
#u2850 {
  position:absolute;
  left:2px;
  top:8px;
  width:114px;
  word-wrap:break-word;
}
#u2851 {
  position:absolute;
  left:529px;
  top:332px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u2851_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:53px;
}
#u2851_seg1 {
  position:absolute;
  left:-10px;
  top:36px;
  width:20px;
  height:20px;
}
#u2852 {
  position:absolute;
  left:-50px;
  top:16px;
  width:100px;
  word-wrap:break-word;
}
#u2853_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:64px;
}
#u2853 {
  position:absolute;
  left:115px;
  top:480px;
  width:118px;
  height:63px;
}
#u2854 {
  position:absolute;
  left:2px;
  top:24px;
  width:114px;
  word-wrap:break-word;
}
#u2855 {
  position:absolute;
  left:174px;
  top:451px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u2855_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:33px;
}
#u2855_seg1 {
  position:absolute;
  left:-10px;
  top:16px;
  width:20px;
  height:20px;
}
#u2856 {
  position:absolute;
  left:-50px;
  top:6px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2857 {
  position:absolute;
  left:529px;
  top:444px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u2857_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:72px;
}
#u2857_seg1 {
  position:absolute;
  left:-307px;
  top:64px;
  width:311px;
  height:8px;
}
#u2857_seg2 {
  position:absolute;
  left:-314px;
  top:58px;
  width:20px;
  height:20px;
}
#u2858 {
  position:absolute;
  left:-170px;
  top:60px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2859 {
  position:absolute;
  left:529px;
  top:272px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u2859_seg0 {
  position:absolute;
  left:-4px;
  top:-84px;
  width:8px;
  height:84px;
}
#u2859_seg1 {
  position:absolute;
  left:-296px;
  top:-84px;
  width:300px;
  height:8px;
}
#u2859_seg2 {
  position:absolute;
  left:-303px;
  top:-90px;
  width:20px;
  height:20px;
}
#u2860 {
  position:absolute;
  left:-158px;
  top:-88px;
  width:100px;
  word-wrap:break-word;
}
