body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:relative;
  left:-115px;
  width:473px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2875_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u2875 {
  position:absolute;
  left:124px;
  top:60px;
  width:100px;
  height:60px;
}
#u2876 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u2877_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:64px;
}
#u2877 {
  position:absolute;
  left:115px;
  top:160px;
  width:118px;
  height:63px;
}
#u2878 {
  position:absolute;
  left:2px;
  top:16px;
  width:114px;
  word-wrap:break-word;
}
#u2879 {
  position:absolute;
  left:174px;
  top:120px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u2879_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:44px;
}
#u2879_seg1 {
  position:absolute;
  left:-10px;
  top:27px;
  width:20px;
  height:20px;
}
#u2880 {
  position:absolute;
  left:-50px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2881_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u2881 {
  position:absolute;
  left:124px;
  top:273px;
  width:100px;
  height:60px;
}
#u2882 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u2883 {
  position:absolute;
  left:174px;
  top:223px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u2883_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:54px;
}
#u2883_seg1 {
  position:absolute;
  left:-10px;
  top:37px;
  width:20px;
  height:20px;
}
#u2884 {
  position:absolute;
  left:-50px;
  top:17px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2885_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:64px;
}
#u2885 {
  position:absolute;
  left:115px;
  top:388px;
  width:118px;
  height:63px;
}
#u2886 {
  position:absolute;
  left:2px;
  top:16px;
  width:114px;
  word-wrap:break-word;
}
#u2887 {
  position:absolute;
  left:174px;
  top:333px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u2887_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:59px;
}
#u2887_seg1 {
  position:absolute;
  left:-10px;
  top:42px;
  width:20px;
  height:20px;
}
#u2888 {
  position:absolute;
  left:-50px;
  top:20px;
  width:100px;
  word-wrap:break-word;
}
#u2889_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:64px;
}
#u2889 {
  position:absolute;
  left:294px;
  top:270px;
  width:118px;
  height:63px;
}
#u2890 {
  position:absolute;
  left:2px;
  top:24px;
  width:114px;
  word-wrap:break-word;
}
#u2891 {
  position:absolute;
  left:224px;
  top:303px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u2891_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:60px;
  height:8px;
}
#u2891_seg1 {
  position:absolute;
  left:52px;
  top:-5px;
  width:8px;
  height:9px;
}
#u2891_seg2 {
  position:absolute;
  left:52px;
  top:-5px;
  width:18px;
  height:8px;
}
#u2891_seg3 {
  position:absolute;
  left:57px;
  top:-11px;
  width:20px;
  height:20px;
}
#u2892 {
  position:absolute;
  left:-14px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u2893_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u2893 {
  position:absolute;
  left:479px;
  top:272px;
  width:100px;
  height:60px;
}
#u2894 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u2895 {
  position:absolute;
  left:412px;
  top:302px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u2895_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:71px;
  height:8px;
}
#u2895_seg1 {
  position:absolute;
  left:54px;
  top:-10px;
  width:20px;
  height:20px;
}
#u2896 {
  position:absolute;
  left:-16px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2897_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:64px;
}
#u2897 {
  position:absolute;
  left:470px;
  top:381px;
  width:118px;
  height:63px;
}
#u2898 {
  position:absolute;
  left:2px;
  top:8px;
  width:114px;
  word-wrap:break-word;
}
#u2899 {
  position:absolute;
  left:529px;
  top:332px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u2899_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:53px;
}
#u2899_seg1 {
  position:absolute;
  left:-10px;
  top:36px;
  width:20px;
  height:20px;
}
#u2900 {
  position:absolute;
  left:-50px;
  top:16px;
  width:100px;
  word-wrap:break-word;
}
#u2901_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:64px;
}
#u2901 {
  position:absolute;
  left:115px;
  top:480px;
  width:118px;
  height:63px;
}
#u2902 {
  position:absolute;
  left:2px;
  top:24px;
  width:114px;
  word-wrap:break-word;
}
#u2903 {
  position:absolute;
  left:174px;
  top:451px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u2903_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:33px;
}
#u2903_seg1 {
  position:absolute;
  left:-10px;
  top:16px;
  width:20px;
  height:20px;
}
#u2904 {
  position:absolute;
  left:-50px;
  top:6px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2905 {
  position:absolute;
  left:529px;
  top:444px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u2905_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:72px;
}
#u2905_seg1 {
  position:absolute;
  left:-307px;
  top:64px;
  width:311px;
  height:8px;
}
#u2905_seg2 {
  position:absolute;
  left:-314px;
  top:58px;
  width:20px;
  height:20px;
}
#u2906 {
  position:absolute;
  left:-170px;
  top:60px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2907 {
  position:absolute;
  left:529px;
  top:272px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u2907_seg0 {
  position:absolute;
  left:-4px;
  top:-84px;
  width:8px;
  height:84px;
}
#u2907_seg1 {
  position:absolute;
  left:-296px;
  top:-84px;
  width:300px;
  height:8px;
}
#u2907_seg2 {
  position:absolute;
  left:-303px;
  top:-90px;
  width:20px;
  height:20px;
}
#u2908 {
  position:absolute;
  left:-158px;
  top:-88px;
  width:100px;
  word-wrap:break-word;
}
