body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1920px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1050_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:3311px;
}
#u1050 {
  position:absolute;
  left:360px;
  top:176px;
  width:1200px;
  height:3310px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1051 {
  position:absolute;
  left:2px;
  top:1647px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1052_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:101px;
}
#u1052 {
  position:absolute;
  left:360px;
  top:176px;
  width:1200px;
  height:100px;
  font-size:20px;
  text-align:left;
}
#u1053 {
  position:absolute;
  left:40px;
  top:38px;
  width:1158px;
  word-wrap:break-word;
}
#u1054_img {
  position:absolute;
  left:-5px;
  top:-3px;
  width:1931px;
  height:67px;
}
#u1054 {
  position:absolute;
  left:0px;
  top:81px;
  width:1920px;
  height:56px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1055 {
  position:absolute;
  left:2px;
  top:20px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1056 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1057_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:57px;
}
#u1057 {
  position:absolute;
  left:898px;
  top:81px;
  width:124px;
  height:56px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:14px;
}
#u1057_img.mouseOver {
}
#u1057.mouseOver {
}
#u1057_img.selected {
}
#u1057.selected {
}
#u1058 {
  position:absolute;
  left:2px;
  top:18px;
  width:120px;
  word-wrap:break-word;
}
#u1059_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:56px;
}
#u1059 {
  position:absolute;
  left:932px;
  top:81px;
  width:56px;
  height:55px;
}
#u1059_img.mouseOver {
  left:-1px;
  top:-1px;
  width:59px;
  height:58px;
}
#u1059.mouseOver {
}
#u1059_img.selected {
  left:-1px;
  top:-1px;
  width:59px;
  height:58px;
}
#u1059.selected {
}
#u1060 {
  position:absolute;
  left:2px;
  top:20px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1061 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1062_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:57px;
}
#u1062 {
  position:absolute;
  left:1022px;
  top:81px;
  width:124px;
  height:56px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:14px;
}
#u1062_img.mouseOver {
}
#u1062.mouseOver {
}
#u1062_img.selected {
}
#u1062.selected {
}
#u1063 {
  position:absolute;
  left:2px;
  top:18px;
  width:120px;
  word-wrap:break-word;
}
#u1064_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:56px;
}
#u1064 {
  position:absolute;
  left:1056px;
  top:81px;
  width:56px;
  height:55px;
}
#u1064_img.mouseOver {
  left:-1px;
  top:-1px;
  width:59px;
  height:58px;
}
#u1064.mouseOver {
}
#u1064_img.selected {
  left:-1px;
  top:-1px;
  width:59px;
  height:58px;
}
#u1064.selected {
}
#u1065 {
  position:absolute;
  left:2px;
  top:20px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1066 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1067_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:57px;
}
#u1067 {
  position:absolute;
  left:774px;
  top:81px;
  width:124px;
  height:56px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:14px;
}
#u1067_img.mouseOver {
}
#u1067.mouseOver {
}
#u1067_img.selected {
}
#u1067.selected {
}
#u1068 {
  position:absolute;
  left:2px;
  top:18px;
  width:120px;
  word-wrap:break-word;
}
#u1069_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:56px;
}
#u1069 {
  position:absolute;
  left:808px;
  top:81px;
  width:56px;
  height:55px;
}
#u1069_img.mouseOver {
  left:-1px;
  top:-1px;
  width:59px;
  height:58px;
}
#u1069.mouseOver {
}
#u1069_img.selected {
  left:-1px;
  top:-1px;
  width:59px;
  height:58px;
}
#u1069.selected {
}
#u1070 {
  position:absolute;
  left:2px;
  top:20px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1072 {
  position:absolute;
  left:0px;
  top:0px;
}
#u1072_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u1072_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1073_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1921px;
  height:81px;
}
#u1073 {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:80px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u1074 {
  position:absolute;
  left:60px;
  top:28px;
  width:1858px;
  word-wrap:break-word;
}
#u1075 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1076_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:81px;
}
#u1076 {
  position:absolute;
  left:546px;
  top:0px;
  width:138px;
  height:80px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1076_img.mouseOver {
}
#u1076.mouseOver {
}
#u1076_img.selected {
}
#u1076.selected {
}
#u1077 {
  position:absolute;
  left:2px;
  top:30px;
  width:134px;
  word-wrap:break-word;
}
#u1078_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:81px;
}
#u1078 {
  position:absolute;
  left:684px;
  top:0px;
  width:138px;
  height:80px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1078_img.mouseOver {
}
#u1078.mouseOver {
}
#u1078_img.selected {
}
#u1078.selected {
}
#u1079 {
  position:absolute;
  left:2px;
  top:30px;
  width:134px;
  word-wrap:break-word;
}
#u1080_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:81px;
}
#u1080 {
  position:absolute;
  left:822px;
  top:0px;
  width:138px;
  height:80px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1080_img.mouseOver {
}
#u1080.mouseOver {
}
#u1080_img.selected {
}
#u1080.selected {
}
#u1081 {
  position:absolute;
  left:2px;
  top:30px;
  width:134px;
  word-wrap:break-word;
}
#u1082_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:81px;
}
#u1082 {
  position:absolute;
  left:960px;
  top:0px;
  width:138px;
  height:80px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1082_img.mouseOver {
}
#u1082.mouseOver {
}
#u1082_img.selected {
}
#u1082.selected {
}
#u1083 {
  position:absolute;
  left:2px;
  top:30px;
  width:134px;
  word-wrap:break-word;
}
#u1084 {
  position:absolute;
  left:44px;
  top:13px;
  width:190px;
  height:54px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1085 {
  position:absolute;
  left:0px;
  top:80px;
  visibility:hidden;
}
#u1085_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u1085_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1086_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:175px;
  height:167px;
}
#u1086 {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:146px;
  color:#F2F2F2;
  text-align:left;
}
#u1086_img.selected {
}
#u1086.selected {
}
#u1087 {
  position:absolute;
  left:50px;
  top:65px;
  width:102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1088_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:45px;
}
#u1088 {
  position:absolute;
  left:0px;
  top:7px;
  width:154px;
  height:44px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#444444;
  text-align:left;
}
#u1088_img.mouseOver {
}
#u1088.mouseOver {
}
#u1089 {
  position:absolute;
  left:20px;
  top:12px;
  width:132px;
  word-wrap:break-word;
}
#u1090_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:45px;
}
#u1090 {
  position:absolute;
  left:0px;
  top:51px;
  width:154px;
  height:44px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#444444;
  text-align:left;
}
#u1090_img.mouseOver {
}
#u1090.mouseOver {
}
#u1091 {
  position:absolute;
  left:20px;
  top:12px;
  width:132px;
  word-wrap:break-word;
}
#u1092_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:45px;
}
#u1092 {
  position:absolute;
  left:0px;
  top:95px;
  width:154px;
  height:44px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#444444;
  text-align:left;
}
#u1092_img.mouseOver {
}
#u1092.mouseOver {
}
#u1093 {
  position:absolute;
  left:20px;
  top:12px;
  width:132px;
  word-wrap:break-word;
}
#u1085_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u1085_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1094_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:175px;
  height:255px;
}
#u1094 {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:234px;
  color:#F2F2F2;
  text-align:left;
}
#u1094_img.selected {
}
#u1094.selected {
}
#u1095 {
  position:absolute;
  left:50px;
  top:109px;
  width:102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1096_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:45px;
}
#u1096 {
  position:absolute;
  left:0px;
  top:51px;
  width:154px;
  height:44px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u1096_img.mouseOver {
}
#u1096.mouseOver {
}
#u1097 {
  position:absolute;
  left:20px;
  top:12px;
  width:132px;
  word-wrap:break-word;
}
#u1098_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:45px;
}
#u1098 {
  position:absolute;
  left:0px;
  top:95px;
  width:154px;
  height:44px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#444444;
  text-align:left;
}
#u1098_img.mouseOver {
}
#u1098.mouseOver {
}
#u1099 {
  position:absolute;
  left:20px;
  top:12px;
  width:132px;
  word-wrap:break-word;
}
#u1100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:45px;
}
#u1100 {
  position:absolute;
  left:0px;
  top:139px;
  width:154px;
  height:44px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#444444;
  text-align:left;
}
#u1100_img.mouseOver {
}
#u1100.mouseOver {
}
#u1101 {
  position:absolute;
  left:20px;
  top:12px;
  width:132px;
  word-wrap:break-word;
}
#u1102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:45px;
}
#u1102 {
  position:absolute;
  left:0px;
  top:7px;
  width:154px;
  height:44px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#444444;
  text-align:left;
}
#u1102_img.mouseOver {
}
#u1102.mouseOver {
}
#u1103 {
  position:absolute;
  left:20px;
  top:12px;
  width:132px;
  word-wrap:break-word;
}
#u1104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:45px;
}
#u1104 {
  position:absolute;
  left:0px;
  top:183px;
  width:154px;
  height:44px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#444444;
  text-align:left;
}
#u1104_img.mouseOver {
}
#u1104.mouseOver {
}
#u1105 {
  position:absolute;
  left:20px;
  top:12px;
  width:132px;
  word-wrap:break-word;
}
#u1085_state2 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u1085_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1106_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:175px;
  height:211px;
}
#u1106 {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:190px;
  color:#F2F2F2;
  text-align:left;
}
#u1106_img.selected {
}
#u1106.selected {
}
#u1107 {
  position:absolute;
  left:50px;
  top:87px;
  width:102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:45px;
}
#u1108 {
  position:absolute;
  left:0px;
  top:7px;
  width:154px;
  height:44px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#444444;
  text-align:left;
}
#u1108_img.mouseOver {
}
#u1108.mouseOver {
}
#u1109 {
  position:absolute;
  left:20px;
  top:12px;
  width:132px;
  word-wrap:break-word;
}
#u1110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:45px;
}
#u1110 {
  position:absolute;
  left:0px;
  top:51px;
  width:154px;
  height:44px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#444444;
  text-align:left;
}
#u1110_img.mouseOver {
}
#u1110.mouseOver {
}
#u1111 {
  position:absolute;
  left:20px;
  top:12px;
  width:132px;
  word-wrap:break-word;
}
#u1112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:45px;
}
#u1112 {
  position:absolute;
  left:0px;
  top:95px;
  width:154px;
  height:44px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#444444;
  text-align:left;
}
#u1112_img.mouseOver {
}
#u1112.mouseOver {
}
#u1113 {
  position:absolute;
  left:20px;
  top:12px;
  width:132px;
  word-wrap:break-word;
}
#u1114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:45px;
}
#u1114 {
  position:absolute;
  left:0px;
  top:139px;
  width:154px;
  height:44px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#444444;
  text-align:left;
}
#u1114_img.mouseOver {
}
#u1114.mouseOver {
}
#u1115 {
  position:absolute;
  left:20px;
  top:12px;
  width:132px;
  word-wrap:break-word;
}
#u1085_state3 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u1085_state3_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1116_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:175px;
  height:167px;
}
#u1116 {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:146px;
  color:#F2F2F2;
  text-align:left;
}
#u1116_img.selected {
}
#u1116.selected {
}
#u1117 {
  position:absolute;
  left:50px;
  top:65px;
  width:102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:45px;
}
#u1118 {
  position:absolute;
  left:0px;
  top:7px;
  width:154px;
  height:44px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#444444;
  text-align:left;
}
#u1118_img.mouseOver {
}
#u1118.mouseOver {
}
#u1119 {
  position:absolute;
  left:20px;
  top:12px;
  width:132px;
  word-wrap:break-word;
}
#u1120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:45px;
}
#u1120 {
  position:absolute;
  left:0px;
  top:51px;
  width:154px;
  height:44px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#444444;
  text-align:left;
}
#u1120_img.mouseOver {
}
#u1120.mouseOver {
}
#u1121 {
  position:absolute;
  left:20px;
  top:12px;
  width:132px;
  word-wrap:break-word;
}
#u1122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:45px;
}
#u1122 {
  position:absolute;
  left:0px;
  top:95px;
  width:154px;
  height:44px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#444444;
  text-align:left;
}
#u1122_img.mouseOver {
}
#u1122.mouseOver {
}
#u1123 {
  position:absolute;
  left:20px;
  top:12px;
  width:132px;
  word-wrap:break-word;
}
#u1085_state4 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u1085_state4_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1124_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:175px;
  height:211px;
}
#u1124 {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:190px;
  color:#F2F2F2;
  text-align:left;
}
#u1124_img.selected {
}
#u1124.selected {
}
#u1125 {
  position:absolute;
  left:50px;
  top:87px;
  width:102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:45px;
}
#u1126 {
  position:absolute;
  left:0px;
  top:7px;
  width:154px;
  height:44px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#444444;
  text-align:left;
}
#u1126_img.mouseOver {
}
#u1126.mouseOver {
}
#u1127 {
  position:absolute;
  left:20px;
  top:12px;
  width:132px;
  word-wrap:break-word;
}
#u1128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:45px;
}
#u1128 {
  position:absolute;
  left:0px;
  top:51px;
  width:154px;
  height:44px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#444444;
  text-align:left;
}
#u1128_img.mouseOver {
}
#u1128.mouseOver {
}
#u1129 {
  position:absolute;
  left:20px;
  top:12px;
  width:132px;
  word-wrap:break-word;
}
#u1130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:45px;
}
#u1130 {
  position:absolute;
  left:0px;
  top:95px;
  width:154px;
  height:44px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#444444;
  text-align:left;
}
#u1130_img.mouseOver {
}
#u1130.mouseOver {
}
#u1131 {
  position:absolute;
  left:20px;
  top:12px;
  width:132px;
  word-wrap:break-word;
}
#u1132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:45px;
}
#u1132 {
  position:absolute;
  left:0px;
  top:139px;
  width:154px;
  height:44px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#444444;
  text-align:left;
}
#u1132_img.mouseOver {
}
#u1132.mouseOver {
}
#u1133 {
  position:absolute;
  left:20px;
  top:12px;
  width:132px;
  word-wrap:break-word;
}
#u1085_state5 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u1085_state5_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1134_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:175px;
  height:167px;
}
#u1134 {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:146px;
  color:#F2F2F2;
  text-align:left;
}
#u1134_img.selected {
}
#u1134.selected {
}
#u1135 {
  position:absolute;
  left:50px;
  top:65px;
  width:102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:45px;
}
#u1136 {
  position:absolute;
  left:0px;
  top:7px;
  width:154px;
  height:44px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#444444;
  text-align:left;
}
#u1136_img.mouseOver {
}
#u1136.mouseOver {
}
#u1137 {
  position:absolute;
  left:20px;
  top:12px;
  width:132px;
  word-wrap:break-word;
}
#u1138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:45px;
}
#u1138 {
  position:absolute;
  left:0px;
  top:51px;
  width:154px;
  height:44px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#444444;
  text-align:left;
}
#u1138_img.mouseOver {
}
#u1138.mouseOver {
}
#u1139 {
  position:absolute;
  left:20px;
  top:12px;
  width:132px;
  word-wrap:break-word;
}
#u1140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:45px;
}
#u1140 {
  position:absolute;
  left:0px;
  top:95px;
  width:154px;
  height:44px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#444444;
  text-align:left;
}
#u1140_img.mouseOver {
}
#u1140.mouseOver {
}
#u1141 {
  position:absolute;
  left:20px;
  top:12px;
  width:132px;
  word-wrap:break-word;
}
#u1142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:25px;
}
#u1142 {
  position:absolute;
  left:360px;
  top:304px;
  width:1200px;
  height:24px;
  line-height:24px;
}
#u1143 {
  position:absolute;
  left:40px;
  top:0px;
  width:1160px;
  word-wrap:break-word;
}
