body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:relative;
  left:-1px;
  width:2385px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4601_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:1168px;
  height:902px;
}
#u4601 {
  position:absolute;
  left:1px;
  top:3px;
  width:1163px;
  height:897px;
}
#u4602 {
  position:absolute;
  left:2px;
  top:440px;
  width:1159px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4603_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:1029px;
  height:797px;
}
#u4603 {
  position:absolute;
  left:71px;
  top:50px;
  width:1024px;
  height:792px;
}
#u4604 {
  position:absolute;
  left:2px;
  top:388px;
  width:1020px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4605_img {
  position:absolute;
  left:0px;
  top:0px;
  width:972px;
  height:165px;
}
#u4605 {
  position:absolute;
  left:98px;
  top:76px;
  width:971px;
  height:164px;
}
#u4606 {
  position:absolute;
  left:2px;
  top:74px;
  width:967px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4607_img {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:38px;
}
#u4607 {
  position:absolute;
  left:471px;
  top:140px;
  width:224px;
  height:37px;
}
#u4608 {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  white-space:nowrap;
}
#u4609_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:82px;
}
#u4609 {
  position:absolute;
  left:2210px;
  top:633px;
  width:138px;
  height:71px;
}
#u4610 {
  position:absolute;
  left:10px;
  top:10px;
  width:118px;
  word-wrap:break-word;
}
#u4611_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:58px;
}
#u4611 {
  position:absolute;
  left:1133px;
  top:273px;
  width:150px;
  height:47px;
}
#u4612 {
  position:absolute;
  left:10px;
  top:10px;
  width:130px;
  word-wrap:break-word;
}
#u4613_img {
  position:absolute;
  left:0px;
  top:0px;
  width:523px;
  height:479px;
}
#u4613 {
  position:absolute;
  left:1304px;
  top:273px;
  width:522px;
  height:478px;
}
#u4614 {
  position:absolute;
  left:2px;
  top:231px;
  width:518px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4615_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:67px;
}
#u4615 {
  position:absolute;
  left:1395px;
  top:454px;
  width:67px;
  height:67px;
}
#u4616 {
  position:absolute;
  left:2px;
  top:26px;
  width:63px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4617_img {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:23px;
}
#u4617 {
  position:absolute;
  left:1493px;
  top:477px;
  width:163px;
  height:22px;
  font-size:18px;
}
#u4618 {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  white-space:nowrap;
}
#u4619_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:39px;
}
#u4619 {
  position:absolute;
  left:1336px;
  top:289px;
  width:58px;
  height:39px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u4620 {
  position:absolute;
  left:2px;
  top:12px;
  width:54px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4621_img {
  position:absolute;
  left:0px;
  top:0px;
  width:523px;
  height:479px;
}
#u4621 {
  position:absolute;
  left:1864px;
  top:273px;
  width:522px;
  height:478px;
}
#u4622 {
  position:absolute;
  left:2px;
  top:231px;
  width:518px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4623_img {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:17px;
}
#u4623 {
  position:absolute;
  left:2053px;
  top:477px;
  width:163px;
  height:16px;
  font-size:18px;
}
#u4624 {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  visibility:hidden;
  white-space:nowrap;
}
#u4625_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:39px;
}
#u4625 {
  position:absolute;
  left:1896px;
  top:289px;
  width:58px;
  height:39px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u4626 {
  position:absolute;
  left:2px;
  top:12px;
  width:54px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4627_img {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:114px;
}
#u4627 {
  position:absolute;
  left:2072px;
  top:428px;
  width:156px;
  height:114px;
}
#u4628 {
  position:absolute;
  left:2px;
  top:49px;
  width:152px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4629_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:17px;
}
#u4629 {
  position:absolute;
  left:2062px;
  top:552px;
  width:145px;
  height:16px;
  font-size:16px;
}
#u4630 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u4631_img {
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:291px;
}
#u4631 {
  position:absolute;
  left:187px;
  top:265px;
  width:354px;
  height:291px;
}
#u4632 {
  position:absolute;
  left:2px;
  top:138px;
  width:350px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4633_img {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:16px;
}
#u4633 {
  position:absolute;
  left:261px;
  top:578px;
  width:157px;
  height:15px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#BCBCBC;
}
#u4634 {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  white-space:nowrap;
}
#u4635_img {
  position:absolute;
  left:0px;
  top:0px;
  width:392px;
  height:20px;
}
#u4635 {
  position:absolute;
  left:150px;
  top:620px;
  width:391px;
  height:19px;
  font-size:16px;
  color:#FF0000;
}
#u4636 {
  position:absolute;
  left:0px;
  top:0px;
  width:391px;
  word-wrap:break-word;
}
#u4637_img {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:20px;
}
#u4637 {
  position:absolute;
  left:150px;
  top:649px;
  width:255px;
  height:19px;
  font-size:16px;
  color:#FF0000;
}
#u4638 {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  word-wrap:break-word;
}
#u4639_img {
  position:absolute;
  left:0px;
  top:0px;
  width:486px;
  height:363px;
}
#u4639 {
  position:absolute;
  left:570px;
  top:265px;
  width:485px;
  height:362px;
}
#u4640 {
  position:absolute;
  left:2px;
  top:173px;
  width:481px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4641_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:20px;
}
#u4641 {
  position:absolute;
  left:602px;
  top:287px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u4642 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u4643_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:20px;
}
#u4643 {
  position:absolute;
  left:602px;
  top:432px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u4644 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u4645_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:20px;
}
#u4645 {
  position:absolute;
  left:602px;
  top:322px;
  width:49px;
  height:19px;
  font-size:16px;
}
#u4646 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u4647_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:20px;
}
#u4647 {
  position:absolute;
  left:602px;
  top:355px;
  width:97px;
  height:19px;
  font-size:16px;
}
#u4648 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u4649_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:20px;
}
#u4649 {
  position:absolute;
  left:602px;
  top:389px;
  width:81px;
  height:19px;
  font-size:16px;
}
#u4650 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u4651_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:20px;
}
#u4651 {
  position:absolute;
  left:602px;
  top:465px;
  width:49px;
  height:19px;
  font-size:16px;
}
#u4652 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u4653_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:20px;
}
#u4653 {
  position:absolute;
  left:602px;
  top:494px;
  width:133px;
  height:19px;
  font-size:16px;
}
#u4654 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  word-wrap:break-word;
}
#u4655_img {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:20px;
}
#u4655 {
  position:absolute;
  left:602px;
  top:521px;
  width:173px;
  height:19px;
  font-size:16px;
}
#u4656 {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  word-wrap:break-word;
}
#u4657_img {
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:20px;
}
#u4657 {
  position:absolute;
  left:602px;
  top:607px;
  width:333px;
  height:19px;
  font-size:16px;
}
#u4658 {
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  word-wrap:break-word;
}
#u4659_img {
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:20px;
}
#u4659 {
  position:absolute;
  left:602px;
  top:578px;
  width:333px;
  height:19px;
  font-size:16px;
}
#u4660 {
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  word-wrap:break-word;
}
#u4661_img {
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:20px;
}
#u4661 {
  position:absolute;
  left:602px;
  top:551px;
  width:333px;
  height:19px;
  font-size:16px;
}
#u4662 {
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  word-wrap:break-word;
}
#u4663_img {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:20px;
}
#u4663 {
  position:absolute;
  left:150px;
  top:678px;
  width:255px;
  height:19px;
  font-size:16px;
  color:#FF0000;
}
#u4664 {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  word-wrap:break-word;
}
#u4665 {
  position:absolute;
  left:651px;
  top:355px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u4665_seg0 {
  position:absolute;
  left:-4px;
  top:-4px;
  width:8px;
  height:4px;
}
#u4665_seg1 {
  position:absolute;
  left:-4px;
  top:-4px;
  width:477px;
  height:8px;
}
#u4665_seg2 {
  position:absolute;
  left:465px;
  top:-62px;
  width:8px;
  height:66px;
}
#u4665_seg3 {
  position:absolute;
  left:465px;
  top:-62px;
  width:17px;
  height:8px;
}
#u4665_seg4 {
  position:absolute;
  left:469px;
  top:-68px;
  width:20px;
  height:20px;
}
#u4666 {
  position:absolute;
  left:220px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
