body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:relative;
  left:-1px;
  width:2281px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4649_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:1168px;
  height:902px;
}
#u4649 {
  position:absolute;
  left:1px;
  top:3px;
  width:1163px;
  height:897px;
}
#u4650 {
  position:absolute;
  left:2px;
  top:440px;
  width:1159px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4651_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:1029px;
  height:797px;
}
#u4651 {
  position:absolute;
  left:71px;
  top:50px;
  width:1024px;
  height:792px;
}
#u4652 {
  position:absolute;
  left:2px;
  top:388px;
  width:1020px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4653_img {
  position:absolute;
  left:0px;
  top:0px;
  width:932px;
  height:165px;
}
#u4653 {
  position:absolute;
  left:117px;
  top:73px;
  width:931px;
  height:164px;
}
#u4654 {
  position:absolute;
  left:2px;
  top:74px;
  width:927px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4655_img {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:38px;
}
#u4655 {
  position:absolute;
  left:490px;
  top:137px;
  width:224px;
  height:37px;
}
#u4656 {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  white-space:nowrap;
}
#u4657_img {
  position:absolute;
  left:0px;
  top:0px;
  width:923px;
  height:541px;
}
#u4657 {
  position:absolute;
  left:126px;
  top:274px;
  width:922px;
  height:540px;
}
#u4658 {
  position:absolute;
  left:2px;
  top:262px;
  width:918px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4659_img {
  position:absolute;
  left:0px;
  top:0px;
  width:833px;
  height:255px;
}
#u4659 {
  position:absolute;
  left:181px;
  top:309px;
  width:832px;
  height:254px;
}
#u4660 {
  position:absolute;
  left:2px;
  top:119px;
  width:828px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4661_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u4661 {
  position:absolute;
  left:189px;
  top:328px;
  width:32px;
  height:32px;
}
#u4662 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4663_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:41px;
}
#u4663 {
  position:absolute;
  left:231px;
  top:324px;
  width:140px;
  height:40px;
}
#u4664 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u4665_img {
  position:absolute;
  left:0px;
  top:0px;
  width:799px;
  height:36px;
}
#u4665 {
  position:absolute;
  left:197px;
  top:374px;
  width:798px;
  height:35px;
  font-size:16px;
}
#u4666 {
  position:absolute;
  left:0px;
  top:0px;
  width:798px;
  word-wrap:break-word;
}
#u4667_img {
  position:absolute;
  left:0px;
  top:0px;
  width:799px;
  height:36px;
}
#u4667 {
  position:absolute;
  left:198px;
  top:434px;
  width:798px;
  height:35px;
  font-size:16px;
}
#u4668 {
  position:absolute;
  left:0px;
  top:0px;
  width:798px;
  word-wrap:break-word;
}
#u4669_img {
  position:absolute;
  left:0px;
  top:0px;
  width:799px;
  height:36px;
}
#u4669 {
  position:absolute;
  left:197px;
  top:492px;
  width:798px;
  height:35px;
  font-size:16px;
}
#u4670 {
  position:absolute;
  left:0px;
  top:0px;
  width:798px;
  word-wrap:break-word;
}
#u4671_img {
  position:absolute;
  left:0px;
  top:0px;
  width:833px;
  height:205px;
}
#u4671 {
  position:absolute;
  left:180px;
  top:588px;
  width:832px;
  height:204px;
}
#u4672 {
  position:absolute;
  left:2px;
  top:94px;
  width:828px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4673_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u4673 {
  position:absolute;
  left:189px;
  top:604px;
  width:32px;
  height:32px;
}
#u4674 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4675_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:41px;
}
#u4675 {
  position:absolute;
  left:221px;
  top:600px;
  width:140px;
  height:40px;
}
#u4676 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u4677_img {
  position:absolute;
  left:0px;
  top:0px;
  width:799px;
  height:36px;
}
#u4677 {
  position:absolute;
  left:197px;
  top:650px;
  width:798px;
  height:35px;
  font-size:16px;
}
#u4678 {
  position:absolute;
  left:0px;
  top:0px;
  width:798px;
  word-wrap:break-word;
}
#u4679_img {
  position:absolute;
  left:0px;
  top:0px;
  width:799px;
  height:36px;
}
#u4679 {
  position:absolute;
  left:197px;
  top:695px;
  width:798px;
  height:35px;
  font-size:16px;
}
#u4680 {
  position:absolute;
  left:0px;
  top:0px;
  width:798px;
  word-wrap:break-word;
}
#u4681_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:125px;
}
#u4681 {
  position:absolute;
  left:830px;
  top:658px;
  width:134px;
  height:125px;
}
#u4682 {
  position:absolute;
  left:2px;
  top:54px;
  width:130px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4683_img {
  position:absolute;
  left:0px;
  top:0px;
  width:961px;
  height:479px;
}
#u4683 {
  position:absolute;
  left:1174px;
  top:279px;
  width:960px;
  height:478px;
}
#u4684 {
  position:absolute;
  left:2px;
  top:231px;
  width:956px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4685_img {
  position:absolute;
  left:0px;
  top:0px;
  width:554px;
  height:391px;
}
#u4685 {
  position:absolute;
  left:1237px;
  top:316px;
  width:553px;
  height:390px;
}
#u4686 {
  position:absolute;
  left:2px;
  top:187px;
  width:549px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4687_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:20px;
}
#u4687 {
  position:absolute;
  left:1274px;
  top:340px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u4688 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u4689_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:20px;
}
#u4689 {
  position:absolute;
  left:1274px;
  top:496px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u4690 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u4691_img {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:280px;
}
#u4691 {
  position:absolute;
  left:1800px;
  top:316px;
  width:271px;
  height:280px;
}
#u4692 {
  position:absolute;
  left:2px;
  top:132px;
  width:267px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4693_img {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:16px;
}
#u4693 {
  position:absolute;
  left:1848px;
  top:627px;
  width:157px;
  height:15px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#BCBCBC;
}
#u4694 {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  white-space:nowrap;
}
#u4695_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:108px;
}
#u4695 {
  position:absolute;
  left:1654px;
  top:358px;
  width:111px;
  height:108px;
}
#u4696 {
  position:absolute;
  left:2px;
  top:46px;
  width:107px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4697_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:20px;
}
#u4697 {
  position:absolute;
  left:1274px;
  top:377px;
  width:49px;
  height:19px;
  font-size:16px;
}
#u4698 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u4699_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:20px;
}
#u4699 {
  position:absolute;
  left:1274px;
  top:413px;
  width:97px;
  height:19px;
  font-size:16px;
}
#u4700 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u4701_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:20px;
}
#u4701 {
  position:absolute;
  left:1274px;
  top:449px;
  width:81px;
  height:19px;
  font-size:16px;
}
#u4702 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u4703_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:20px;
}
#u4703 {
  position:absolute;
  left:1274px;
  top:531px;
  width:49px;
  height:19px;
  font-size:16px;
}
#u4704 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u4705_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:20px;
}
#u4705 {
  position:absolute;
  left:1274px;
  top:562px;
  width:151px;
  height:19px;
  font-size:16px;
}
#u4706 {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  word-wrap:break-word;
}
#u4707_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:20px;
}
#u4707 {
  position:absolute;
  left:1274px;
  top:592px;
  width:198px;
  height:19px;
  font-size:16px;
}
#u4708 {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  word-wrap:break-word;
}
#u4709_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:20px;
}
#u4709 {
  position:absolute;
  left:1274px;
  top:684px;
  width:379px;
  height:19px;
  font-size:16px;
}
#u4710 {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  word-wrap:break-word;
}
#u4711_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:20px;
}
#u4711 {
  position:absolute;
  left:1274px;
  top:653px;
  width:379px;
  height:19px;
  font-size:16px;
}
#u4712 {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  word-wrap:break-word;
}
#u4713_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:20px;
}
#u4713 {
  position:absolute;
  left:1274px;
  top:623px;
  width:379px;
  height:19px;
  font-size:16px;
}
#u4714 {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  word-wrap:break-word;
}
#u4715_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:16px;
}
#u4715 {
  position:absolute;
  left:1879px;
  top:652px;
  width:96px;
  height:15px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FF0000;
}
#u4716 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  white-space:nowrap;
}
#u4717_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:67px;
}
#u4717 {
  position:absolute;
  left:2144px;
  top:632px;
  width:138px;
  height:56px;
}
#u4718 {
  position:absolute;
  left:10px;
  top:10px;
  width:118px;
  word-wrap:break-word;
}
#u4719 {
  position:absolute;
  left:1975px;
  top:660px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u4719_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:173px;
  height:8px;
}
#u4719_seg1 {
  position:absolute;
  left:156px;
  top:-10px;
  width:20px;
  height:20px;
}
#u4720 {
  position:absolute;
  left:34px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4721 {
  position:absolute;
  left:1013px;
  top:436px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u4721_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:151px;
  height:8px;
}
#u4721_seg1 {
  position:absolute;
  left:143px;
  top:-4px;
  width:8px;
  height:64px;
}
#u4721_seg2 {
  position:absolute;
  left:143px;
  top:52px;
  width:14px;
  height:8px;
}
#u4721_seg3 {
  position:absolute;
  left:144px;
  top:46px;
  width:20px;
  height:20px;
}
#u4722 {
  position:absolute;
  left:56px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
