body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:678px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1238 {
  position:absolute;
  left:27px;
  top:26px;
}
#u1238_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u1238_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1239_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:45px;
}
#u1239 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#999999;
  line-height:28px;
}
#u1240 {
  position:absolute;
  left:0px;
  top:14px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1241 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1242_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:41px;
}
#u1242 {
  position:absolute;
  left:0px;
  top:44px;
  width:375px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#333333;
  line-height:28px;
}
#u1243 {
  position:absolute;
  left:0px;
  top:6px;
  width:375px;
  word-wrap:break-word;
}
#u1244_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u1244 {
  position:absolute;
  left:325px;
  top:44px;
  width:40px;
  height:40px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:403;
  font-style:normal;
  font-size:20px;
  color:#3478F7;
  line-height:20px;
}
#u1244_img.mouseDown {
}
#u1244.mouseDown {
  opacity:0.8;
}
#u1245 {
  position:absolute;
  left:0px;
  top:10px;
  width:40px;
  word-wrap:break-word;
}
#u1247_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
}
#u1247 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
}
#u1248 {
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1250 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1251_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:81px;
}
#u1251 {
  position:absolute;
  left:403px;
  top:785px;
  width:29px;
  height:80px;
  font-family:'Arial';
  font-weight:406;
  font-style:normal;
  color:#999999;
  line-height:28px;
}
#u1252 {
  position:absolute;
  left:0px;
  top:32px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1253_img {
  position:absolute;
  left:0px;
  top:0px;
  width:433px;
  height:62px;
}
#u1253 {
  position:absolute;
  left:0px;
  top:0px;
  width:433px;
  height:62px;
}
#u1254 {
  position:absolute;
  left:2px;
  top:23px;
  width:429px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1255_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:803px;
}
#u1255 {
  position:absolute;
  left:0px;
  top:62px;
  width:30px;
  height:803px;
}
#u1256 {
  position:absolute;
  left:2px;
  top:394px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1257_img {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:59px;
}
#u1257 {
  position:absolute;
  left:30px;
  top:806px;
  width:373px;
  height:59px;
}
#u1258 {
  position:absolute;
  left:2px;
  top:22px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1259_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:803px;
}
#u1259 {
  position:absolute;
  left:403px;
  top:62px;
  width:30px;
  height:803px;
}
#u1260 {
  position:absolute;
  left:2px;
  top:394px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1261_img {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:84px;
}
#u1261 {
  position:absolute;
  left:451px;
  top:112px;
  width:227px;
  height:73px;
}
#u1262 {
  position:absolute;
  left:10px;
  top:10px;
  width:207px;
  word-wrap:break-word;
}
#u1263_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:171px;
}
#u1263 {
  position:absolute;
  left:68px;
  top:173px;
  width:300px;
  height:170px;
}
#u1264 {
  position:absolute;
  left:2px;
  top:77px;
  width:296px;
  word-wrap:break-word;
}
#u1265_img {
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  height:2px;
}
#u1265 {
  position:absolute;
  left:59px;
  top:370px;
  width:325px;
  height:1px;
}
#u1266 {
  position:absolute;
  left:2px;
  top:-8px;
  width:321px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1267_img {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:20px;
}
#u1267 {
  position:absolute;
  left:59px;
  top:394px;
  width:193px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1268 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u1269 {
  position:absolute;
  left:59px;
  top:426px;
  width:228px;
  height:16px;
  color:#C9C9C9;
}
#u1270 {
  position:absolute;
  left:16px;
  top:0px;
  width:210px;
  word-wrap:break-word;
}
#u1269_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1271_img {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:42px;
}
#u1271 {
  position:absolute;
  left:100px;
  top:483px;
  width:232px;
  height:41px;
}
#u1272 {
  position:absolute;
  left:2px;
  top:12px;
  width:228px;
  word-wrap:break-word;
}
