body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1920px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1172_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:3311px;
}
#u1172 {
  position:absolute;
  left:360px;
  top:176px;
  width:1200px;
  height:3310px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1173 {
  position:absolute;
  left:2px;
  top:1647px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1174_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:101px;
}
#u1174 {
  position:absolute;
  left:360px;
  top:176px;
  width:1200px;
  height:100px;
  font-size:20px;
  text-align:left;
}
#u1175 {
  position:absolute;
  left:40px;
  top:38px;
  width:1158px;
  word-wrap:break-word;
}
#u1176_img {
  position:absolute;
  left:-5px;
  top:-3px;
  width:1931px;
  height:67px;
}
#u1176 {
  position:absolute;
  left:0px;
  top:81px;
  width:1920px;
  height:56px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1177 {
  position:absolute;
  left:2px;
  top:20px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1178 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1179_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:57px;
}
#u1179 {
  position:absolute;
  left:898px;
  top:81px;
  width:124px;
  height:56px;
  font-family:'微软雅黑';
  font-weight:405;
  font-style:normal;
  font-size:14px;
}
#u1179_img.mouseOver {
}
#u1179.mouseOver {
}
#u1179_img.selected {
}
#u1179.selected {
}
#u1180 {
  position:absolute;
  left:2px;
  top:18px;
  width:120px;
  word-wrap:break-word;
}
#u1181_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:56px;
}
#u1181 {
  position:absolute;
  left:932px;
  top:81px;
  width:56px;
  height:55px;
}
#u1181_img.mouseOver {
  left:-1px;
  top:-1px;
  width:59px;
  height:58px;
}
#u1181.mouseOver {
}
#u1181_img.selected {
  left:-1px;
  top:-1px;
  width:59px;
  height:58px;
}
#u1181.selected {
}
#u1182 {
  position:absolute;
  left:2px;
  top:20px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1183 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1184_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:57px;
}
#u1184 {
  position:absolute;
  left:1022px;
  top:81px;
  width:124px;
  height:56px;
  font-family:'微软雅黑';
  font-weight:405;
  font-style:normal;
  font-size:14px;
}
#u1184_img.mouseOver {
}
#u1184.mouseOver {
}
#u1184_img.selected {
}
#u1184.selected {
}
#u1185 {
  position:absolute;
  left:2px;
  top:18px;
  width:120px;
  word-wrap:break-word;
}
#u1186_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:56px;
}
#u1186 {
  position:absolute;
  left:1056px;
  top:81px;
  width:56px;
  height:55px;
}
#u1186_img.mouseOver {
  left:-1px;
  top:-1px;
  width:59px;
  height:58px;
}
#u1186.mouseOver {
}
#u1186_img.selected {
  left:-1px;
  top:-1px;
  width:59px;
  height:58px;
}
#u1186.selected {
}
#u1187 {
  position:absolute;
  left:2px;
  top:20px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1188 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1189_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:57px;
}
#u1189 {
  position:absolute;
  left:774px;
  top:81px;
  width:124px;
  height:56px;
  font-family:'微软雅黑';
  font-weight:405;
  font-style:normal;
  font-size:14px;
}
#u1189_img.mouseOver {
}
#u1189.mouseOver {
}
#u1189_img.selected {
}
#u1189.selected {
}
#u1190 {
  position:absolute;
  left:2px;
  top:18px;
  width:120px;
  word-wrap:break-word;
}
#u1191_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:56px;
}
#u1191 {
  position:absolute;
  left:808px;
  top:81px;
  width:56px;
  height:55px;
}
#u1191_img.mouseOver {
  left:-1px;
  top:-1px;
  width:59px;
  height:58px;
}
#u1191.mouseOver {
}
#u1191_img.selected {
  left:-1px;
  top:-1px;
  width:59px;
  height:58px;
}
#u1191.selected {
}
#u1192 {
  position:absolute;
  left:2px;
  top:20px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1194 {
  position:absolute;
  left:0px;
  top:0px;
}
#u1194_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u1194_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1195_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1921px;
  height:81px;
}
#u1195 {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:80px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u1196 {
  position:absolute;
  left:60px;
  top:28px;
  width:1858px;
  word-wrap:break-word;
}
#u1197 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1198_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:81px;
}
#u1198 {
  position:absolute;
  left:546px;
  top:0px;
  width:138px;
  height:80px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1198_img.mouseOver {
}
#u1198.mouseOver {
}
#u1198_img.selected {
}
#u1198.selected {
}
#u1199 {
  position:absolute;
  left:2px;
  top:30px;
  width:134px;
  word-wrap:break-word;
}
#u1200_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:81px;
}
#u1200 {
  position:absolute;
  left:684px;
  top:0px;
  width:138px;
  height:80px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1200_img.mouseOver {
}
#u1200.mouseOver {
}
#u1200_img.selected {
}
#u1200.selected {
}
#u1201 {
  position:absolute;
  left:2px;
  top:30px;
  width:134px;
  word-wrap:break-word;
}
#u1202_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:81px;
}
#u1202 {
  position:absolute;
  left:822px;
  top:0px;
  width:138px;
  height:80px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1202_img.mouseOver {
}
#u1202.mouseOver {
}
#u1202_img.selected {
}
#u1202.selected {
}
#u1203 {
  position:absolute;
  left:2px;
  top:30px;
  width:134px;
  word-wrap:break-word;
}
#u1204_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:81px;
}
#u1204 {
  position:absolute;
  left:960px;
  top:0px;
  width:138px;
  height:80px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1204_img.mouseOver {
}
#u1204.mouseOver {
}
#u1204_img.selected {
}
#u1204.selected {
}
#u1205 {
  position:absolute;
  left:2px;
  top:30px;
  width:134px;
  word-wrap:break-word;
}
#u1206 {
  position:absolute;
  left:44px;
  top:13px;
  width:190px;
  height:54px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1207 {
  position:absolute;
  left:0px;
  top:80px;
  visibility:hidden;
}
#u1207_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u1207_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1208_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:175px;
  height:167px;
}
#u1208 {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:146px;
  color:#F2F2F2;
  text-align:left;
}
#u1208_img.selected {
}
#u1208.selected {
}
#u1209 {
  position:absolute;
  left:50px;
  top:65px;
  width:102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1210_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:45px;
}
#u1210 {
  position:absolute;
  left:0px;
  top:7px;
  width:154px;
  height:44px;
  font-family:'微软雅黑';
  font-weight:405;
  font-style:normal;
  color:#444444;
  text-align:left;
}
#u1210_img.mouseOver {
}
#u1210.mouseOver {
}
#u1211 {
  position:absolute;
  left:20px;
  top:12px;
  width:132px;
  word-wrap:break-word;
}
#u1212_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:45px;
}
#u1212 {
  position:absolute;
  left:0px;
  top:51px;
  width:154px;
  height:44px;
  font-family:'微软雅黑';
  font-weight:405;
  font-style:normal;
  color:#444444;
  text-align:left;
}
#u1212_img.mouseOver {
}
#u1212.mouseOver {
}
#u1213 {
  position:absolute;
  left:20px;
  top:12px;
  width:132px;
  word-wrap:break-word;
}
#u1214_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:45px;
}
#u1214 {
  position:absolute;
  left:0px;
  top:95px;
  width:154px;
  height:44px;
  font-family:'微软雅黑';
  font-weight:405;
  font-style:normal;
  color:#444444;
  text-align:left;
}
#u1214_img.mouseOver {
}
#u1214.mouseOver {
}
#u1215 {
  position:absolute;
  left:20px;
  top:12px;
  width:132px;
  word-wrap:break-word;
}
#u1207_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u1207_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1216_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:175px;
  height:255px;
}
#u1216 {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:234px;
  color:#F2F2F2;
  text-align:left;
}
#u1216_img.selected {
}
#u1216.selected {
}
#u1217 {
  position:absolute;
  left:50px;
  top:109px;
  width:102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1218_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:45px;
}
#u1218 {
  position:absolute;
  left:0px;
  top:51px;
  width:154px;
  height:44px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u1218_img.mouseOver {
}
#u1218.mouseOver {
}
#u1219 {
  position:absolute;
  left:20px;
  top:12px;
  width:132px;
  word-wrap:break-word;
}
#u1220_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:45px;
}
#u1220 {
  position:absolute;
  left:0px;
  top:95px;
  width:154px;
  height:44px;
  font-family:'微软雅黑';
  font-weight:405;
  font-style:normal;
  color:#444444;
  text-align:left;
}
#u1220_img.mouseOver {
}
#u1220.mouseOver {
}
#u1221 {
  position:absolute;
  left:20px;
  top:12px;
  width:132px;
  word-wrap:break-word;
}
#u1222_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:45px;
}
#u1222 {
  position:absolute;
  left:0px;
  top:139px;
  width:154px;
  height:44px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#444444;
  text-align:left;
}
#u1222_img.mouseOver {
}
#u1222.mouseOver {
}
#u1223 {
  position:absolute;
  left:20px;
  top:12px;
  width:132px;
  word-wrap:break-word;
}
#u1224_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:45px;
}
#u1224 {
  position:absolute;
  left:0px;
  top:7px;
  width:154px;
  height:44px;
  font-family:'微软雅黑';
  font-weight:405;
  font-style:normal;
  color:#444444;
  text-align:left;
}
#u1224_img.mouseOver {
}
#u1224.mouseOver {
}
#u1225 {
  position:absolute;
  left:20px;
  top:12px;
  width:132px;
  word-wrap:break-word;
}
#u1226_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:45px;
}
#u1226 {
  position:absolute;
  left:0px;
  top:183px;
  width:154px;
  height:44px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#444444;
  text-align:left;
}
#u1226_img.mouseOver {
}
#u1226.mouseOver {
}
#u1227 {
  position:absolute;
  left:20px;
  top:12px;
  width:132px;
  word-wrap:break-word;
}
#u1207_state2 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u1207_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1228_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:175px;
  height:211px;
}
#u1228 {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:190px;
  color:#F2F2F2;
  text-align:left;
}
#u1228_img.selected {
}
#u1228.selected {
}
#u1229 {
  position:absolute;
  left:50px;
  top:87px;
  width:102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1230_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:45px;
}
#u1230 {
  position:absolute;
  left:0px;
  top:7px;
  width:154px;
  height:44px;
  font-family:'微软雅黑';
  font-weight:405;
  font-style:normal;
  color:#444444;
  text-align:left;
}
#u1230_img.mouseOver {
}
#u1230.mouseOver {
}
#u1231 {
  position:absolute;
  left:20px;
  top:12px;
  width:132px;
  word-wrap:break-word;
}
#u1232_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:45px;
}
#u1232 {
  position:absolute;
  left:0px;
  top:51px;
  width:154px;
  height:44px;
  font-family:'微软雅黑';
  font-weight:405;
  font-style:normal;
  color:#444444;
  text-align:left;
}
#u1232_img.mouseOver {
}
#u1232.mouseOver {
}
#u1233 {
  position:absolute;
  left:20px;
  top:12px;
  width:132px;
  word-wrap:break-word;
}
#u1234_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:45px;
}
#u1234 {
  position:absolute;
  left:0px;
  top:95px;
  width:154px;
  height:44px;
  font-family:'微软雅黑';
  font-weight:405;
  font-style:normal;
  color:#444444;
  text-align:left;
}
#u1234_img.mouseOver {
}
#u1234.mouseOver {
}
#u1235 {
  position:absolute;
  left:20px;
  top:12px;
  width:132px;
  word-wrap:break-word;
}
#u1236_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:45px;
}
#u1236 {
  position:absolute;
  left:0px;
  top:139px;
  width:154px;
  height:44px;
  font-family:'微软雅黑';
  font-weight:405;
  font-style:normal;
  color:#444444;
  text-align:left;
}
#u1236_img.mouseOver {
}
#u1236.mouseOver {
}
#u1237 {
  position:absolute;
  left:20px;
  top:12px;
  width:132px;
  word-wrap:break-word;
}
#u1207_state3 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u1207_state3_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1238_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:175px;
  height:167px;
}
#u1238 {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:146px;
  color:#F2F2F2;
  text-align:left;
}
#u1238_img.selected {
}
#u1238.selected {
}
#u1239 {
  position:absolute;
  left:50px;
  top:65px;
  width:102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1240_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:45px;
}
#u1240 {
  position:absolute;
  left:0px;
  top:7px;
  width:154px;
  height:44px;
  font-family:'微软雅黑';
  font-weight:405;
  font-style:normal;
  color:#444444;
  text-align:left;
}
#u1240_img.mouseOver {
}
#u1240.mouseOver {
}
#u1241 {
  position:absolute;
  left:20px;
  top:12px;
  width:132px;
  word-wrap:break-word;
}
#u1242_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:45px;
}
#u1242 {
  position:absolute;
  left:0px;
  top:51px;
  width:154px;
  height:44px;
  font-family:'微软雅黑';
  font-weight:405;
  font-style:normal;
  color:#444444;
  text-align:left;
}
#u1242_img.mouseOver {
}
#u1242.mouseOver {
}
#u1243 {
  position:absolute;
  left:20px;
  top:12px;
  width:132px;
  word-wrap:break-word;
}
#u1244_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:45px;
}
#u1244 {
  position:absolute;
  left:0px;
  top:95px;
  width:154px;
  height:44px;
  font-family:'微软雅黑';
  font-weight:405;
  font-style:normal;
  color:#444444;
  text-align:left;
}
#u1244_img.mouseOver {
}
#u1244.mouseOver {
}
#u1245 {
  position:absolute;
  left:20px;
  top:12px;
  width:132px;
  word-wrap:break-word;
}
#u1207_state4 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u1207_state4_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1246_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:175px;
  height:211px;
}
#u1246 {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:190px;
  color:#F2F2F2;
  text-align:left;
}
#u1246_img.selected {
}
#u1246.selected {
}
#u1247 {
  position:absolute;
  left:50px;
  top:87px;
  width:102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1248_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:45px;
}
#u1248 {
  position:absolute;
  left:0px;
  top:7px;
  width:154px;
  height:44px;
  font-family:'微软雅黑';
  font-weight:405;
  font-style:normal;
  color:#444444;
  text-align:left;
}
#u1248_img.mouseOver {
}
#u1248.mouseOver {
}
#u1249 {
  position:absolute;
  left:20px;
  top:12px;
  width:132px;
  word-wrap:break-word;
}
#u1250_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:45px;
}
#u1250 {
  position:absolute;
  left:0px;
  top:51px;
  width:154px;
  height:44px;
  font-family:'微软雅黑';
  font-weight:405;
  font-style:normal;
  color:#444444;
  text-align:left;
}
#u1250_img.mouseOver {
}
#u1250.mouseOver {
}
#u1251 {
  position:absolute;
  left:20px;
  top:12px;
  width:132px;
  word-wrap:break-word;
}
#u1252_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:45px;
}
#u1252 {
  position:absolute;
  left:0px;
  top:95px;
  width:154px;
  height:44px;
  font-family:'微软雅黑';
  font-weight:405;
  font-style:normal;
  color:#444444;
  text-align:left;
}
#u1252_img.mouseOver {
}
#u1252.mouseOver {
}
#u1253 {
  position:absolute;
  left:20px;
  top:12px;
  width:132px;
  word-wrap:break-word;
}
#u1254_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:45px;
}
#u1254 {
  position:absolute;
  left:0px;
  top:139px;
  width:154px;
  height:44px;
  font-family:'微软雅黑';
  font-weight:405;
  font-style:normal;
  color:#444444;
  text-align:left;
}
#u1254_img.mouseOver {
}
#u1254.mouseOver {
}
#u1255 {
  position:absolute;
  left:20px;
  top:12px;
  width:132px;
  word-wrap:break-word;
}
#u1207_state5 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u1207_state5_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1256_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:175px;
  height:167px;
}
#u1256 {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:146px;
  color:#F2F2F2;
  text-align:left;
}
#u1256_img.selected {
}
#u1256.selected {
}
#u1257 {
  position:absolute;
  left:50px;
  top:65px;
  width:102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1258_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:45px;
}
#u1258 {
  position:absolute;
  left:0px;
  top:7px;
  width:154px;
  height:44px;
  font-family:'微软雅黑';
  font-weight:405;
  font-style:normal;
  color:#444444;
  text-align:left;
}
#u1258_img.mouseOver {
}
#u1258.mouseOver {
}
#u1259 {
  position:absolute;
  left:20px;
  top:12px;
  width:132px;
  word-wrap:break-word;
}
#u1260_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:45px;
}
#u1260 {
  position:absolute;
  left:0px;
  top:51px;
  width:154px;
  height:44px;
  font-family:'微软雅黑';
  font-weight:405;
  font-style:normal;
  color:#444444;
  text-align:left;
}
#u1260_img.mouseOver {
}
#u1260.mouseOver {
}
#u1261 {
  position:absolute;
  left:20px;
  top:12px;
  width:132px;
  word-wrap:break-word;
}
#u1262_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:45px;
}
#u1262 {
  position:absolute;
  left:0px;
  top:95px;
  width:154px;
  height:44px;
  font-family:'微软雅黑';
  font-weight:405;
  font-style:normal;
  color:#444444;
  text-align:left;
}
#u1262_img.mouseOver {
}
#u1262.mouseOver {
}
#u1263 {
  position:absolute;
  left:20px;
  top:12px;
  width:132px;
  word-wrap:break-word;
}
#u1264_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:25px;
}
#u1264 {
  position:absolute;
  left:360px;
  top:304px;
  width:1200px;
  height:24px;
  line-height:24px;
}
#u1265 {
  position:absolute;
  left:40px;
  top:0px;
  width:1160px;
  word-wrap:break-word;
}
