body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1920px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:3311px;
}
#u1144 {
  position:absolute;
  left:360px;
  top:176px;
  width:1200px;
  height:3310px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1145 {
  position:absolute;
  left:2px;
  top:1647px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:101px;
}
#u1146 {
  position:absolute;
  left:360px;
  top:176px;
  width:1200px;
  height:100px;
  font-size:20px;
  text-align:left;
}
#u1147 {
  position:absolute;
  left:40px;
  top:38px;
  width:1158px;
  word-wrap:break-word;
}
#u1148_img {
  position:absolute;
  left:-5px;
  top:-3px;
  width:1931px;
  height:67px;
}
#u1148 {
  position:absolute;
  left:0px;
  top:81px;
  width:1920px;
  height:56px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1149 {
  position:absolute;
  left:2px;
  top:20px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1150 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:57px;
}
#u1151 {
  position:absolute;
  left:898px;
  top:81px;
  width:124px;
  height:56px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:14px;
}
#u1151_img.mouseOver {
}
#u1151.mouseOver {
}
#u1151_img.selected {
}
#u1151.selected {
}
#u1152 {
  position:absolute;
  left:2px;
  top:18px;
  width:120px;
  word-wrap:break-word;
}
#u1153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:56px;
}
#u1153 {
  position:absolute;
  left:932px;
  top:81px;
  width:56px;
  height:55px;
}
#u1153_img.mouseOver {
  left:-1px;
  top:-1px;
  width:59px;
  height:58px;
}
#u1153.mouseOver {
}
#u1153_img.selected {
  left:-1px;
  top:-1px;
  width:59px;
  height:58px;
}
#u1153.selected {
}
#u1154 {
  position:absolute;
  left:2px;
  top:20px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1155 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1156_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:57px;
}
#u1156 {
  position:absolute;
  left:1022px;
  top:81px;
  width:124px;
  height:56px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:14px;
}
#u1156_img.mouseOver {
}
#u1156.mouseOver {
}
#u1156_img.selected {
}
#u1156.selected {
}
#u1157 {
  position:absolute;
  left:2px;
  top:18px;
  width:120px;
  word-wrap:break-word;
}
#u1158_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:56px;
}
#u1158 {
  position:absolute;
  left:1056px;
  top:81px;
  width:56px;
  height:55px;
}
#u1158_img.mouseOver {
  left:-1px;
  top:-1px;
  width:59px;
  height:58px;
}
#u1158.mouseOver {
}
#u1158_img.selected {
  left:-1px;
  top:-1px;
  width:59px;
  height:58px;
}
#u1158.selected {
}
#u1159 {
  position:absolute;
  left:2px;
  top:20px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1160 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1161_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:57px;
}
#u1161 {
  position:absolute;
  left:774px;
  top:81px;
  width:124px;
  height:56px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:14px;
}
#u1161_img.mouseOver {
}
#u1161.mouseOver {
}
#u1161_img.selected {
}
#u1161.selected {
}
#u1162 {
  position:absolute;
  left:2px;
  top:18px;
  width:120px;
  word-wrap:break-word;
}
#u1163_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:56px;
}
#u1163 {
  position:absolute;
  left:808px;
  top:81px;
  width:56px;
  height:55px;
}
#u1163_img.mouseOver {
  left:-1px;
  top:-1px;
  width:59px;
  height:58px;
}
#u1163.mouseOver {
}
#u1163_img.selected {
  left:-1px;
  top:-1px;
  width:59px;
  height:58px;
}
#u1163.selected {
}
#u1164 {
  position:absolute;
  left:2px;
  top:20px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1166 {
  position:absolute;
  left:0px;
  top:0px;
}
#u1166_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u1166_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1167_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1921px;
  height:81px;
}
#u1167 {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:80px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u1168 {
  position:absolute;
  left:60px;
  top:28px;
  width:1858px;
  word-wrap:break-word;
}
#u1169 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1170_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:81px;
}
#u1170 {
  position:absolute;
  left:546px;
  top:0px;
  width:138px;
  height:80px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1170_img.mouseOver {
}
#u1170.mouseOver {
}
#u1170_img.selected {
}
#u1170.selected {
}
#u1171 {
  position:absolute;
  left:2px;
  top:30px;
  width:134px;
  word-wrap:break-word;
}
#u1172_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:81px;
}
#u1172 {
  position:absolute;
  left:684px;
  top:0px;
  width:138px;
  height:80px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1172_img.mouseOver {
}
#u1172.mouseOver {
}
#u1172_img.selected {
}
#u1172.selected {
}
#u1173 {
  position:absolute;
  left:2px;
  top:30px;
  width:134px;
  word-wrap:break-word;
}
#u1174_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:81px;
}
#u1174 {
  position:absolute;
  left:822px;
  top:0px;
  width:138px;
  height:80px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1174_img.mouseOver {
}
#u1174.mouseOver {
}
#u1174_img.selected {
}
#u1174.selected {
}
#u1175 {
  position:absolute;
  left:2px;
  top:30px;
  width:134px;
  word-wrap:break-word;
}
#u1176_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:81px;
}
#u1176 {
  position:absolute;
  left:960px;
  top:0px;
  width:138px;
  height:80px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1176_img.mouseOver {
}
#u1176.mouseOver {
}
#u1176_img.selected {
}
#u1176.selected {
}
#u1177 {
  position:absolute;
  left:2px;
  top:30px;
  width:134px;
  word-wrap:break-word;
}
#u1178 {
  position:absolute;
  left:44px;
  top:13px;
  width:190px;
  height:54px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1179 {
  position:absolute;
  left:0px;
  top:80px;
  visibility:hidden;
}
#u1179_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u1179_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1180_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:175px;
  height:167px;
}
#u1180 {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:146px;
  color:#F2F2F2;
  text-align:left;
}
#u1180_img.selected {
}
#u1180.selected {
}
#u1181 {
  position:absolute;
  left:50px;
  top:65px;
  width:102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1182_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:45px;
}
#u1182 {
  position:absolute;
  left:0px;
  top:7px;
  width:154px;
  height:44px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#444444;
  text-align:left;
}
#u1182_img.mouseOver {
}
#u1182.mouseOver {
}
#u1183 {
  position:absolute;
  left:20px;
  top:12px;
  width:132px;
  word-wrap:break-word;
}
#u1184_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:45px;
}
#u1184 {
  position:absolute;
  left:0px;
  top:51px;
  width:154px;
  height:44px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#444444;
  text-align:left;
}
#u1184_img.mouseOver {
}
#u1184.mouseOver {
}
#u1185 {
  position:absolute;
  left:20px;
  top:12px;
  width:132px;
  word-wrap:break-word;
}
#u1186_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:45px;
}
#u1186 {
  position:absolute;
  left:0px;
  top:95px;
  width:154px;
  height:44px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#444444;
  text-align:left;
}
#u1186_img.mouseOver {
}
#u1186.mouseOver {
}
#u1187 {
  position:absolute;
  left:20px;
  top:12px;
  width:132px;
  word-wrap:break-word;
}
#u1179_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u1179_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1188_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:175px;
  height:255px;
}
#u1188 {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:234px;
  color:#F2F2F2;
  text-align:left;
}
#u1188_img.selected {
}
#u1188.selected {
}
#u1189 {
  position:absolute;
  left:50px;
  top:109px;
  width:102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1190_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:45px;
}
#u1190 {
  position:absolute;
  left:0px;
  top:51px;
  width:154px;
  height:44px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u1190_img.mouseOver {
}
#u1190.mouseOver {
}
#u1191 {
  position:absolute;
  left:20px;
  top:12px;
  width:132px;
  word-wrap:break-word;
}
#u1192_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:45px;
}
#u1192 {
  position:absolute;
  left:0px;
  top:95px;
  width:154px;
  height:44px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#444444;
  text-align:left;
}
#u1192_img.mouseOver {
}
#u1192.mouseOver {
}
#u1193 {
  position:absolute;
  left:20px;
  top:12px;
  width:132px;
  word-wrap:break-word;
}
#u1194_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:45px;
}
#u1194 {
  position:absolute;
  left:0px;
  top:139px;
  width:154px;
  height:44px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#444444;
  text-align:left;
}
#u1194_img.mouseOver {
}
#u1194.mouseOver {
}
#u1195 {
  position:absolute;
  left:20px;
  top:12px;
  width:132px;
  word-wrap:break-word;
}
#u1196_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:45px;
}
#u1196 {
  position:absolute;
  left:0px;
  top:7px;
  width:154px;
  height:44px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#444444;
  text-align:left;
}
#u1196_img.mouseOver {
}
#u1196.mouseOver {
}
#u1197 {
  position:absolute;
  left:20px;
  top:12px;
  width:132px;
  word-wrap:break-word;
}
#u1198_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:45px;
}
#u1198 {
  position:absolute;
  left:0px;
  top:183px;
  width:154px;
  height:44px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#444444;
  text-align:left;
}
#u1198_img.mouseOver {
}
#u1198.mouseOver {
}
#u1199 {
  position:absolute;
  left:20px;
  top:12px;
  width:132px;
  word-wrap:break-word;
}
#u1179_state2 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u1179_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1200_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:175px;
  height:211px;
}
#u1200 {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:190px;
  color:#F2F2F2;
  text-align:left;
}
#u1200_img.selected {
}
#u1200.selected {
}
#u1201 {
  position:absolute;
  left:50px;
  top:87px;
  width:102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1202_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:45px;
}
#u1202 {
  position:absolute;
  left:0px;
  top:7px;
  width:154px;
  height:44px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#444444;
  text-align:left;
}
#u1202_img.mouseOver {
}
#u1202.mouseOver {
}
#u1203 {
  position:absolute;
  left:20px;
  top:12px;
  width:132px;
  word-wrap:break-word;
}
#u1204_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:45px;
}
#u1204 {
  position:absolute;
  left:0px;
  top:51px;
  width:154px;
  height:44px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#444444;
  text-align:left;
}
#u1204_img.mouseOver {
}
#u1204.mouseOver {
}
#u1205 {
  position:absolute;
  left:20px;
  top:12px;
  width:132px;
  word-wrap:break-word;
}
#u1206_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:45px;
}
#u1206 {
  position:absolute;
  left:0px;
  top:95px;
  width:154px;
  height:44px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#444444;
  text-align:left;
}
#u1206_img.mouseOver {
}
#u1206.mouseOver {
}
#u1207 {
  position:absolute;
  left:20px;
  top:12px;
  width:132px;
  word-wrap:break-word;
}
#u1208_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:45px;
}
#u1208 {
  position:absolute;
  left:0px;
  top:139px;
  width:154px;
  height:44px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#444444;
  text-align:left;
}
#u1208_img.mouseOver {
}
#u1208.mouseOver {
}
#u1209 {
  position:absolute;
  left:20px;
  top:12px;
  width:132px;
  word-wrap:break-word;
}
#u1179_state3 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u1179_state3_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1210_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:175px;
  height:167px;
}
#u1210 {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:146px;
  color:#F2F2F2;
  text-align:left;
}
#u1210_img.selected {
}
#u1210.selected {
}
#u1211 {
  position:absolute;
  left:50px;
  top:65px;
  width:102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1212_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:45px;
}
#u1212 {
  position:absolute;
  left:0px;
  top:7px;
  width:154px;
  height:44px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#444444;
  text-align:left;
}
#u1212_img.mouseOver {
}
#u1212.mouseOver {
}
#u1213 {
  position:absolute;
  left:20px;
  top:12px;
  width:132px;
  word-wrap:break-word;
}
#u1214_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:45px;
}
#u1214 {
  position:absolute;
  left:0px;
  top:51px;
  width:154px;
  height:44px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#444444;
  text-align:left;
}
#u1214_img.mouseOver {
}
#u1214.mouseOver {
}
#u1215 {
  position:absolute;
  left:20px;
  top:12px;
  width:132px;
  word-wrap:break-word;
}
#u1216_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:45px;
}
#u1216 {
  position:absolute;
  left:0px;
  top:95px;
  width:154px;
  height:44px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#444444;
  text-align:left;
}
#u1216_img.mouseOver {
}
#u1216.mouseOver {
}
#u1217 {
  position:absolute;
  left:20px;
  top:12px;
  width:132px;
  word-wrap:break-word;
}
#u1179_state4 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u1179_state4_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1218_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:175px;
  height:211px;
}
#u1218 {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:190px;
  color:#F2F2F2;
  text-align:left;
}
#u1218_img.selected {
}
#u1218.selected {
}
#u1219 {
  position:absolute;
  left:50px;
  top:87px;
  width:102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1220_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:45px;
}
#u1220 {
  position:absolute;
  left:0px;
  top:7px;
  width:154px;
  height:44px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#444444;
  text-align:left;
}
#u1220_img.mouseOver {
}
#u1220.mouseOver {
}
#u1221 {
  position:absolute;
  left:20px;
  top:12px;
  width:132px;
  word-wrap:break-word;
}
#u1222_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:45px;
}
#u1222 {
  position:absolute;
  left:0px;
  top:51px;
  width:154px;
  height:44px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#444444;
  text-align:left;
}
#u1222_img.mouseOver {
}
#u1222.mouseOver {
}
#u1223 {
  position:absolute;
  left:20px;
  top:12px;
  width:132px;
  word-wrap:break-word;
}
#u1224_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:45px;
}
#u1224 {
  position:absolute;
  left:0px;
  top:95px;
  width:154px;
  height:44px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#444444;
  text-align:left;
}
#u1224_img.mouseOver {
}
#u1224.mouseOver {
}
#u1225 {
  position:absolute;
  left:20px;
  top:12px;
  width:132px;
  word-wrap:break-word;
}
#u1226_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:45px;
}
#u1226 {
  position:absolute;
  left:0px;
  top:139px;
  width:154px;
  height:44px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#444444;
  text-align:left;
}
#u1226_img.mouseOver {
}
#u1226.mouseOver {
}
#u1227 {
  position:absolute;
  left:20px;
  top:12px;
  width:132px;
  word-wrap:break-word;
}
#u1179_state5 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u1179_state5_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1228_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:175px;
  height:167px;
}
#u1228 {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:146px;
  color:#F2F2F2;
  text-align:left;
}
#u1228_img.selected {
}
#u1228.selected {
}
#u1229 {
  position:absolute;
  left:50px;
  top:65px;
  width:102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1230_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:45px;
}
#u1230 {
  position:absolute;
  left:0px;
  top:7px;
  width:154px;
  height:44px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#444444;
  text-align:left;
}
#u1230_img.mouseOver {
}
#u1230.mouseOver {
}
#u1231 {
  position:absolute;
  left:20px;
  top:12px;
  width:132px;
  word-wrap:break-word;
}
#u1232_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:45px;
}
#u1232 {
  position:absolute;
  left:0px;
  top:51px;
  width:154px;
  height:44px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#444444;
  text-align:left;
}
#u1232_img.mouseOver {
}
#u1232.mouseOver {
}
#u1233 {
  position:absolute;
  left:20px;
  top:12px;
  width:132px;
  word-wrap:break-word;
}
#u1234_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:45px;
}
#u1234 {
  position:absolute;
  left:0px;
  top:95px;
  width:154px;
  height:44px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#444444;
  text-align:left;
}
#u1234_img.mouseOver {
}
#u1234.mouseOver {
}
#u1235 {
  position:absolute;
  left:20px;
  top:12px;
  width:132px;
  word-wrap:break-word;
}
#u1236_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:25px;
}
#u1236 {
  position:absolute;
  left:360px;
  top:304px;
  width:1200px;
  height:24px;
  line-height:24px;
}
#u1237 {
  position:absolute;
  left:40px;
  top:0px;
  width:1160px;
  word-wrap:break-word;
}
