body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1920px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u571_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:101px;
}
#u571 {
  position:absolute;
  left:360px;
  top:176px;
  width:1200px;
  height:100px;
  font-size:20px;
  text-align:left;
}
#u572 {
  position:absolute;
  left:40px;
  top:42px;
  width:1158px;
  visibility:hidden;
  word-wrap:break-word;
}
#u573 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u574_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:30px;
}
#u574 {
  position:absolute;
  left:400px;
  top:212px;
  width:80px;
  height:29px;
  font-family:'微软雅黑';
  font-weight:404;
  font-style:normal;
  font-size:12px;
}
#u574_img.mouseOver {
}
#u574.mouseOver {
}
#u574_img.selected {
}
#u574.selected {
}
#u575 {
  position:absolute;
  left:2px;
  top:6px;
  width:76px;
  word-wrap:break-word;
}
#u576_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:30px;
}
#u576 {
  position:absolute;
  left:479px;
  top:212px;
  width:80px;
  height:29px;
  font-family:'微软雅黑';
  font-weight:404;
  font-style:normal;
  font-size:12px;
}
#u576_img.mouseOver {
}
#u576.mouseOver {
}
#u576_img.selected {
}
#u576.selected {
}
#u577 {
  position:absolute;
  left:2px;
  top:6px;
  width:76px;
  word-wrap:break-word;
}
#u578 {
  position:absolute;
  left:360px;
  top:276px;
  width:1201px;
  height:1200px;
}
#u578_input {
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:1200px;
}
#u579_img {
  position:absolute;
  left:-5px;
  top:-3px;
  width:1931px;
  height:67px;
}
#u579 {
  position:absolute;
  left:0px;
  top:80px;
  width:1920px;
  height:56px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u580 {
  position:absolute;
  left:2px;
  top:20px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u581 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u582_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:57px;
}
#u582 {
  position:absolute;
  left:774px;
  top:80px;
  width:124px;
  height:56px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u582_img.mouseOver {
}
#u582.mouseOver {
}
#u582_img.selected {
}
#u582.selected {
}
#u583 {
  position:absolute;
  left:2px;
  top:18px;
  width:120px;
  word-wrap:break-word;
}
#u584_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:56px;
}
#u584 {
  position:absolute;
  left:808px;
  top:80px;
  width:56px;
  height:55px;
}
#u584_img.mouseOver {
  left:-1px;
  top:-1px;
  width:59px;
  height:58px;
}
#u584.mouseOver {
}
#u584_img.selected {
  left:-1px;
  top:-1px;
  width:59px;
  height:58px;
}
#u584.selected {
}
#u585 {
  position:absolute;
  left:2px;
  top:20px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u586 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u587_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:57px;
}
#u587 {
  position:absolute;
  left:650px;
  top:80px;
  width:124px;
  height:56px;
  font-family:'微软雅黑';
  font-weight:405;
  font-style:normal;
  font-size:14px;
}
#u587_img.mouseOver {
}
#u587.mouseOver {
}
#u587_img.selected {
}
#u587.selected {
}
#u588 {
  position:absolute;
  left:2px;
  top:18px;
  width:120px;
  word-wrap:break-word;
}
#u589_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:56px;
}
#u589 {
  position:absolute;
  left:684px;
  top:80px;
  width:56px;
  height:55px;
}
#u589_img.mouseOver {
  left:-1px;
  top:-1px;
  width:59px;
  height:58px;
}
#u589.mouseOver {
}
#u589_img.selected {
  left:-1px;
  top:-1px;
  width:59px;
  height:58px;
}
#u589.selected {
}
#u590 {
  position:absolute;
  left:2px;
  top:20px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u591 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u592_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:57px;
}
#u592 {
  position:absolute;
  left:898px;
  top:80px;
  width:124px;
  height:56px;
  font-family:'微软雅黑';
  font-weight:405;
  font-style:normal;
  font-size:14px;
}
#u592_img.mouseOver {
}
#u592.mouseOver {
}
#u592_img.selected {
}
#u592.selected {
}
#u593 {
  position:absolute;
  left:2px;
  top:18px;
  width:120px;
  word-wrap:break-word;
}
#u594_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:56px;
}
#u594 {
  position:absolute;
  left:932px;
  top:80px;
  width:56px;
  height:55px;
}
#u594_img.mouseOver {
  left:-1px;
  top:-1px;
  width:59px;
  height:58px;
}
#u594.mouseOver {
}
#u594_img.selected {
  left:-1px;
  top:-1px;
  width:59px;
  height:58px;
}
#u594.selected {
}
#u595 {
  position:absolute;
  left:2px;
  top:20px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u596 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u597_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:57px;
}
#u597 {
  position:absolute;
  left:1022px;
  top:80px;
  width:124px;
  height:56px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u597_img.mouseOver {
}
#u597.mouseOver {
}
#u597_img.selected {
}
#u597.selected {
}
#u598 {
  position:absolute;
  left:2px;
  top:18px;
  width:120px;
  word-wrap:break-word;
}
#u599_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:56px;
}
#u599 {
  position:absolute;
  left:1056px;
  top:80px;
  width:56px;
  height:55px;
}
#u599_img.mouseOver {
  left:-1px;
  top:-1px;
  width:59px;
  height:58px;
}
#u599.mouseOver {
}
#u599_img.selected {
  left:-1px;
  top:-1px;
  width:59px;
  height:58px;
}
#u599.selected {
}
#u600 {
  position:absolute;
  left:2px;
  top:20px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u602 {
  position:absolute;
  left:0px;
  top:0px;
}
#u602_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u602_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u603_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1921px;
  height:81px;
}
#u603 {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:80px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u604 {
  position:absolute;
  left:60px;
  top:28px;
  width:1858px;
  word-wrap:break-word;
}
#u605 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u606_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:81px;
}
#u606 {
  position:absolute;
  left:546px;
  top:0px;
  width:138px;
  height:80px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u606_img.mouseOver {
}
#u606.mouseOver {
}
#u606_img.selected {
}
#u606.selected {
}
#u607 {
  position:absolute;
  left:2px;
  top:30px;
  width:134px;
  word-wrap:break-word;
}
#u608_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:81px;
}
#u608 {
  position:absolute;
  left:684px;
  top:0px;
  width:138px;
  height:80px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u608_img.mouseOver {
}
#u608.mouseOver {
}
#u608_img.selected {
}
#u608.selected {
}
#u609 {
  position:absolute;
  left:2px;
  top:30px;
  width:134px;
  word-wrap:break-word;
}
#u610_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:81px;
}
#u610 {
  position:absolute;
  left:822px;
  top:0px;
  width:138px;
  height:80px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u610_img.mouseOver {
}
#u610.mouseOver {
}
#u610_img.selected {
}
#u610.selected {
}
#u611 {
  position:absolute;
  left:2px;
  top:30px;
  width:134px;
  word-wrap:break-word;
}
#u612_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:81px;
}
#u612 {
  position:absolute;
  left:960px;
  top:0px;
  width:138px;
  height:80px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u612_img.mouseOver {
}
#u612.mouseOver {
}
#u612_img.selected {
}
#u612.selected {
}
#u613 {
  position:absolute;
  left:2px;
  top:30px;
  width:134px;
  word-wrap:break-word;
}
#u614 {
  position:absolute;
  left:44px;
  top:13px;
  width:190px;
  height:54px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u615 {
  position:absolute;
  left:0px;
  top:80px;
  visibility:hidden;
}
#u615_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u615_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u616_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:175px;
  height:167px;
}
#u616 {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:146px;
  color:#F2F2F2;
  text-align:left;
}
#u616_img.selected {
}
#u616.selected {
}
#u617 {
  position:absolute;
  left:50px;
  top:65px;
  width:102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u618_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:45px;
}
#u618 {
  position:absolute;
  left:0px;
  top:7px;
  width:154px;
  height:44px;
  font-family:'微软雅黑';
  font-weight:405;
  font-style:normal;
  color:#444444;
  text-align:left;
}
#u618_img.mouseOver {
}
#u618.mouseOver {
}
#u619 {
  position:absolute;
  left:20px;
  top:12px;
  width:132px;
  word-wrap:break-word;
}
#u620_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:45px;
}
#u620 {
  position:absolute;
  left:0px;
  top:51px;
  width:154px;
  height:44px;
  font-family:'微软雅黑';
  font-weight:405;
  font-style:normal;
  color:#444444;
  text-align:left;
}
#u620_img.mouseOver {
}
#u620.mouseOver {
}
#u621 {
  position:absolute;
  left:20px;
  top:12px;
  width:132px;
  word-wrap:break-word;
}
#u622_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:45px;
}
#u622 {
  position:absolute;
  left:0px;
  top:95px;
  width:154px;
  height:44px;
  font-family:'微软雅黑';
  font-weight:405;
  font-style:normal;
  color:#444444;
  text-align:left;
}
#u622_img.mouseOver {
}
#u622.mouseOver {
}
#u623 {
  position:absolute;
  left:20px;
  top:12px;
  width:132px;
  word-wrap:break-word;
}
#u615_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u615_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u624_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:175px;
  height:255px;
}
#u624 {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:234px;
  color:#F2F2F2;
  text-align:left;
}
#u624_img.selected {
}
#u624.selected {
}
#u625 {
  position:absolute;
  left:50px;
  top:109px;
  width:102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u626_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:45px;
}
#u626 {
  position:absolute;
  left:0px;
  top:51px;
  width:154px;
  height:44px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u626_img.mouseOver {
}
#u626.mouseOver {
}
#u627 {
  position:absolute;
  left:20px;
  top:12px;
  width:132px;
  word-wrap:break-word;
}
#u628_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:45px;
}
#u628 {
  position:absolute;
  left:0px;
  top:95px;
  width:154px;
  height:44px;
  font-family:'微软雅黑';
  font-weight:405;
  font-style:normal;
  color:#444444;
  text-align:left;
}
#u628_img.mouseOver {
}
#u628.mouseOver {
}
#u629 {
  position:absolute;
  left:20px;
  top:12px;
  width:132px;
  word-wrap:break-word;
}
#u630_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:45px;
}
#u630 {
  position:absolute;
  left:0px;
  top:139px;
  width:154px;
  height:44px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#444444;
  text-align:left;
}
#u630_img.mouseOver {
}
#u630.mouseOver {
}
#u631 {
  position:absolute;
  left:20px;
  top:12px;
  width:132px;
  word-wrap:break-word;
}
#u632_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:45px;
}
#u632 {
  position:absolute;
  left:0px;
  top:7px;
  width:154px;
  height:44px;
  font-family:'微软雅黑';
  font-weight:405;
  font-style:normal;
  color:#444444;
  text-align:left;
}
#u632_img.mouseOver {
}
#u632.mouseOver {
}
#u633 {
  position:absolute;
  left:20px;
  top:12px;
  width:132px;
  word-wrap:break-word;
}
#u634_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:45px;
}
#u634 {
  position:absolute;
  left:0px;
  top:183px;
  width:154px;
  height:44px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#444444;
  text-align:left;
}
#u634_img.mouseOver {
}
#u634.mouseOver {
}
#u635 {
  position:absolute;
  left:20px;
  top:12px;
  width:132px;
  word-wrap:break-word;
}
#u615_state2 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u615_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u636_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:175px;
  height:211px;
}
#u636 {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:190px;
  color:#F2F2F2;
  text-align:left;
}
#u636_img.selected {
}
#u636.selected {
}
#u637 {
  position:absolute;
  left:50px;
  top:87px;
  width:102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u638_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:45px;
}
#u638 {
  position:absolute;
  left:0px;
  top:7px;
  width:154px;
  height:44px;
  font-family:'微软雅黑';
  font-weight:405;
  font-style:normal;
  color:#444444;
  text-align:left;
}
#u638_img.mouseOver {
}
#u638.mouseOver {
}
#u639 {
  position:absolute;
  left:20px;
  top:12px;
  width:132px;
  word-wrap:break-word;
}
#u640_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:45px;
}
#u640 {
  position:absolute;
  left:0px;
  top:51px;
  width:154px;
  height:44px;
  font-family:'微软雅黑';
  font-weight:405;
  font-style:normal;
  color:#444444;
  text-align:left;
}
#u640_img.mouseOver {
}
#u640.mouseOver {
}
#u641 {
  position:absolute;
  left:20px;
  top:12px;
  width:132px;
  word-wrap:break-word;
}
#u642_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:45px;
}
#u642 {
  position:absolute;
  left:0px;
  top:95px;
  width:154px;
  height:44px;
  font-family:'微软雅黑';
  font-weight:405;
  font-style:normal;
  color:#444444;
  text-align:left;
}
#u642_img.mouseOver {
}
#u642.mouseOver {
}
#u643 {
  position:absolute;
  left:20px;
  top:12px;
  width:132px;
  word-wrap:break-word;
}
#u644_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:45px;
}
#u644 {
  position:absolute;
  left:0px;
  top:139px;
  width:154px;
  height:44px;
  font-family:'微软雅黑';
  font-weight:405;
  font-style:normal;
  color:#444444;
  text-align:left;
}
#u644_img.mouseOver {
}
#u644.mouseOver {
}
#u645 {
  position:absolute;
  left:20px;
  top:12px;
  width:132px;
  word-wrap:break-word;
}
#u615_state3 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u615_state3_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u646_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:175px;
  height:167px;
}
#u646 {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:146px;
  color:#F2F2F2;
  text-align:left;
}
#u646_img.selected {
}
#u646.selected {
}
#u647 {
  position:absolute;
  left:50px;
  top:65px;
  width:102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u648_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:45px;
}
#u648 {
  position:absolute;
  left:0px;
  top:7px;
  width:154px;
  height:44px;
  font-family:'微软雅黑';
  font-weight:405;
  font-style:normal;
  color:#444444;
  text-align:left;
}
#u648_img.mouseOver {
}
#u648.mouseOver {
}
#u649 {
  position:absolute;
  left:20px;
  top:12px;
  width:132px;
  word-wrap:break-word;
}
#u650_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:45px;
}
#u650 {
  position:absolute;
  left:0px;
  top:51px;
  width:154px;
  height:44px;
  font-family:'微软雅黑';
  font-weight:405;
  font-style:normal;
  color:#444444;
  text-align:left;
}
#u650_img.mouseOver {
}
#u650.mouseOver {
}
#u651 {
  position:absolute;
  left:20px;
  top:12px;
  width:132px;
  word-wrap:break-word;
}
#u652_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:45px;
}
#u652 {
  position:absolute;
  left:0px;
  top:95px;
  width:154px;
  height:44px;
  font-family:'微软雅黑';
  font-weight:405;
  font-style:normal;
  color:#444444;
  text-align:left;
}
#u652_img.mouseOver {
}
#u652.mouseOver {
}
#u653 {
  position:absolute;
  left:20px;
  top:12px;
  width:132px;
  word-wrap:break-word;
}
#u615_state4 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u615_state4_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u654_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:175px;
  height:211px;
}
#u654 {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:190px;
  color:#F2F2F2;
  text-align:left;
}
#u654_img.selected {
}
#u654.selected {
}
#u655 {
  position:absolute;
  left:50px;
  top:87px;
  width:102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u656_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:45px;
}
#u656 {
  position:absolute;
  left:0px;
  top:7px;
  width:154px;
  height:44px;
  font-family:'微软雅黑';
  font-weight:405;
  font-style:normal;
  color:#444444;
  text-align:left;
}
#u656_img.mouseOver {
}
#u656.mouseOver {
}
#u657 {
  position:absolute;
  left:20px;
  top:12px;
  width:132px;
  word-wrap:break-word;
}
#u658_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:45px;
}
#u658 {
  position:absolute;
  left:0px;
  top:51px;
  width:154px;
  height:44px;
  font-family:'微软雅黑';
  font-weight:405;
  font-style:normal;
  color:#444444;
  text-align:left;
}
#u658_img.mouseOver {
}
#u658.mouseOver {
}
#u659 {
  position:absolute;
  left:20px;
  top:12px;
  width:132px;
  word-wrap:break-word;
}
#u660_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:45px;
}
#u660 {
  position:absolute;
  left:0px;
  top:95px;
  width:154px;
  height:44px;
  font-family:'微软雅黑';
  font-weight:405;
  font-style:normal;
  color:#444444;
  text-align:left;
}
#u660_img.mouseOver {
}
#u660.mouseOver {
}
#u661 {
  position:absolute;
  left:20px;
  top:12px;
  width:132px;
  word-wrap:break-word;
}
#u662_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:45px;
}
#u662 {
  position:absolute;
  left:0px;
  top:139px;
  width:154px;
  height:44px;
  font-family:'微软雅黑';
  font-weight:405;
  font-style:normal;
  color:#444444;
  text-align:left;
}
#u662_img.mouseOver {
}
#u662.mouseOver {
}
#u663 {
  position:absolute;
  left:20px;
  top:12px;
  width:132px;
  word-wrap:break-word;
}
#u615_state5 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u615_state5_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u664_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:175px;
  height:167px;
}
#u664 {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:146px;
  color:#F2F2F2;
  text-align:left;
}
#u664_img.selected {
}
#u664.selected {
}
#u665 {
  position:absolute;
  left:50px;
  top:65px;
  width:102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u666_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:45px;
}
#u666 {
  position:absolute;
  left:0px;
  top:7px;
  width:154px;
  height:44px;
  font-family:'微软雅黑';
  font-weight:405;
  font-style:normal;
  color:#444444;
  text-align:left;
}
#u666_img.mouseOver {
}
#u666.mouseOver {
}
#u667 {
  position:absolute;
  left:20px;
  top:12px;
  width:132px;
  word-wrap:break-word;
}
#u668_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:45px;
}
#u668 {
  position:absolute;
  left:0px;
  top:51px;
  width:154px;
  height:44px;
  font-family:'微软雅黑';
  font-weight:405;
  font-style:normal;
  color:#444444;
  text-align:left;
}
#u668_img.mouseOver {
}
#u668.mouseOver {
}
#u669 {
  position:absolute;
  left:20px;
  top:12px;
  width:132px;
  word-wrap:break-word;
}
#u670_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:45px;
}
#u670 {
  position:absolute;
  left:0px;
  top:95px;
  width:154px;
  height:44px;
  font-family:'微软雅黑';
  font-weight:405;
  font-style:normal;
  color:#444444;
  text-align:left;
}
#u670_img.mouseOver {
}
#u670.mouseOver {
}
#u671 {
  position:absolute;
  left:20px;
  top:12px;
  width:132px;
  word-wrap:break-word;
}
#u672 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u673_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:57px;
}
#u673 {
  position:absolute;
  left:1146px;
  top:80px;
  width:124px;
  height:56px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u673_img.mouseOver {
}
#u673.mouseOver {
}
#u673_img.selected {
}
#u673.selected {
}
#u674 {
  position:absolute;
  left:2px;
  top:18px;
  width:120px;
  word-wrap:break-word;
}
#u675_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:56px;
}
#u675 {
  position:absolute;
  left:1180px;
  top:80px;
  width:56px;
  height:55px;
}
#u675_img.mouseOver {
  left:-1px;
  top:-1px;
  width:59px;
  height:58px;
}
#u675.mouseOver {
}
#u675_img.selected {
  left:-1px;
  top:-1px;
  width:59px;
  height:58px;
}
#u675.selected {
}
#u676 {
  position:absolute;
  left:2px;
  top:20px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
