body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1235px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u755_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1404px;
  height:2011px;
}
#u755 {
  position:absolute;
  left:-84px;
  top:-251px;
  width:1403px;
  height:2010px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u756 {
  position:absolute;
  left:2px;
  top:997px;
  width:1399px;
  visibility:hidden;
  word-wrap:break-word;
}
#u757_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:61px;
}
#u757 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:60px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#999999;
  text-align:left;
  line-height:28px;
}
#u758 {
  position:absolute;
  left:40px;
  top:16px;
  width:1158px;
  word-wrap:break-word;
}
